.ButtonGroup {
  display: inline-flex;
  gap: var(--base-size-8);
  flex-direction: column;
  flex-wrap: wrap;
}

.ButtonGroup--horizontal {
  flex-direction: row;
}

.ButtonGroup--horizontal > * {
  flex-grow: 1;
}
