.section {
  --brand-stack-gap-spacious: var(--base-size-80);
  --brand-stack-gap-normal: var(--base-size-64);
  --brand-stack-gap-condensed: var(--base-size-16);

  @media (min-width: 768px) {
    --brand-stack-gap-spacious: var(--base-size-128);
    --brand-stack-gap-normal: var(--base-size-80);
    --brand-stack-gap-condensed: var(--base-size-48);
  }
}

.normalizeMargin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;

  @media (max-width: 768px) {
    margin-right: 0;
    margin-left: 0;
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.normalizePadding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.sectionIntro {
  width: 100%;
}

.riverBreakoutNoCta {
  :last-child {
    row-gap: 0;
  }
}

.paddingBottom-spacious {
  padding-block-end: var(--brand-Section-padding-spacious);
}

.paddingBottom-normal {
  padding-block-end: var(--brand-Section-padding-normal);
}

.paddingBottom-condensed {
  padding-block-end: var(--brand-Section-padding-condensed);
}

.paddingBottom-none {
  padding-block-end: 0;
}

.stackedItemHeading {
  font-size: var(--base-size-24);
  line-height: 130%;
  margin-block-end: var(--base-size-16);
  letter-spacing: -0.01em;

  @media (min-width: 768px) {
    font-size: 1.75rem;
    margin-block-end: var(--base-size-24);
  }

  @media (min-width: 1012px) {
    font-size: 2rem;
    line-height: 120%;
  }
}

.stackedItemText {
  font-size: 1.125rem;
  line-height: 140%;
  letter-spacing: -0.01em;

  @media (min-width: 1012px) {
    font-size: 1.25rem;
  }
}

.heightFull {
  height: 100%;
}
