.Card {
  text-decoration: none;
  color: var(--brand-color-text-default);
  border-radius: var(--brand-borderRadius-xlarge);
  transition: transform var(--brand-Card-animation-duration) var(--brand-Card-animation-easing);
  padding: var(--base-size-32);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'image image'
    'icon icon'
    'label label'
    'heading heading'
    'description description'
    'action action';
  flex: auto;
  grid-template-rows: auto auto auto auto 1fr;
  position: relative;
  height: 100%;
}

.Card--align-center .Card {
  text-align: center;
  padding: var(--base-size-64) var(--base-size-40);
}

@media screen and (min-width: 64rem) {
  .Card--align-center .Card {
    padding: var(--base-size-64) var(--base-size-80);
  }
}

.Card--align-center .Card {
  grid-template-columns: 1fr;
  grid-template-areas:
    'image'
    'icon'
    'label'
    'heading'
    'description'
    'action';
  justify-items: center;
}

/** Block end image position option */
.Card--imagePos-block-end {
  grid-template-areas:
    'icon icon'
    'label label'
    'heading heading'
    'description description'
    'action action'
    'image image';
}

.Card--align-center .Card--imagePos-block-end {
  grid-template-areas:
    'icon'
    'label'
    'heading'
    'description'
    'action'
    'image';
}

.Card--imagePos-block-end .Card__image {
  margin-bottom: 0;
  margin-top: var(--base-size-28);
}

.Card--maxWidth {
  max-width: var(--brand-Card-maxWidth);
}

.Card--fullWidth {
  max-width: unset;
}

.Card--variant-minimal {
  padding: 0;
}

.Card--align-center .Card--variant-minimal {
  padding: 0;
}

.Card--variant-default,
.Card--variant-torchlight.Card--colorMode-light {
  background-color: var(--brand-Card-background-default);
}

.Card:hover {
  text-decoration: none;
}

.Card__link {
  color: currentColor;
  text-decoration: none !important;
}

.Card__link code,
.Card__description code {
  font-size: inherit;
  font-family: var(--brand-fontStack-monospace);
  background-color: var(--brand-color-canvas-subtle);
  padding: 0 var(--base-size-4) var(--base-size-2);
  margin-inline: var(--base-size-2);
  border: var(--brand-borderWidth-thin) solid var(--brand-color-border-default);
  border-radius: var(--brand-borderRadius-small);
  box-shadow: var(--brand-borderWidth-thin) var(--brand-borderWidth-thin) 0 0 var(--brand-color-border-default);
}

.Card__description code {
  padding: var(--base-size-2) var(--base-size-4) 0;
}
.Card__link:has(code) {
  line-height: calc(1lh * 1.4);
}

.Card__description.Card__description:has(code) {
  line-height: calc(1lh * 1.25);
}

.Card--disableAnimation:hover .Card__link {
  text-decoration: underline !important;
}

/* The focus outline will appear around the entire card, not just the title */
.Card__link:focus {
  outline: none;
}

.Card__link::before {
  content: '';
  position: absolute;
  inset: 0;
}

.Card--border {
  border: var(--brand-borderWidth-thin) solid var(--brand-color-border-default);
}

.Card__outer {
  height: 100%;
  border-radius: var(--brand-borderRadius-xlarge);
}

.Card__outer:has(.Card--variant-minimal) {
  border-radius: var(--brand-borderRadius-small);
}

.Card__outer:focus-within {
  outline: var(--brand-borderWidth-thick) solid var(--brand-color-focus);
}

.Card__outer:has(.Card--variant-minimal):focus-within {
  outline-offset: var(
    --base-size-12
  ); /* This value is adjusted so that, when combined with the container's border radius, the total border radius equals `var(--brand-borderRadius-medium)` */
}

.Card--icon {
  grid-template-areas:
    'image image'
    'icon label'
    'heading heading'
    'description description'
    'action action';
}

.Card--icon .Card__label {
  justify-self: flex-end;
}

.Card--align-center .Card--icon .Card__label {
  justify-self: center;
}

.Card--icon .Card__label,
.Card--icon .Card__icon {
  align-self: center;
}

.Card:not(.Card--disableAnimation, .Card--variant-torchlight.Card--colorMode-dark):hover {
  transform: scale3d(1.025, 1.025, 1);
}

.Card__image {
  margin-bottom: var(--base-size-28);
  border-radius: var(--brand-borderRadius-medium);
  overflow: hidden;
  grid-area: image;
}

.Card__image img,
.Card__image picture,
.Card__image span {
  display: block;
}

.Card__icon {
  margin-bottom: var(--base-size-24);
  grid-area: icon;
}

.Card__label {
  margin-bottom: var(--base-size-24);
  grid-area: label;
}

.Card__heading {
  margin-bottom: var(--base-size-20);
  grid-area: heading;
}

.Card__description {
  margin-bottom: var(--base-size-32);
  grid-area: description;
}

.Card__action {
  grid-area: action;
  margin-top: auto;
  display: inline-flex;
  align-items: center;
}

.Card--align-center .Card__action {
  justify-content: center;
}

.Card__action,
.Card__action span {
  color: var(--brand-Link-color-accent);
}

.Card--skew {
  height: 100%;
  border-radius: var(--brand-borderRadius-xlarge);
  overflow: hidden;
}

.Card--skew:focus-within {
  outline: var(--brand-borderWidth-thick) solid var(--brand-color-focus);
}

.Card--skew:hover .Card__torch {
  opacity: 0.85;
}

.Card__skew-bounding {
  border-radius: var(--brand-borderRadius-xlarge);
  position: relative;
  overflow: hidden;
  z-index: 1;
  height: 100%;
  background-color: var(--brand-Card-background-default);
}

.Card__torch {
  width: 650px;
  height: 650px;
  background-color: var(--brand-color-accent-primary);
  filter: blur(180px);
  border-radius: 300px;
  opacity: 0;
  transition: opacity 1.2s cubic-bezier(0.16, 1, 0.3, 1);
  mix-blend-mode: soft-light;
  will-change: transform;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.Card--expandableArrow {
  margin-inline-start: var(--base-size-4);
}

.Card:has(.Card__link:hover) .Card--expandableArrow {
  transform: translateX(var(--base-size-4));
}

.Card:has(.Card__link:hover) .Card--expandableArrow path:nth-of-type(2) {
  stroke-dashoffset: 20;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  .Card,
  .Card::before,
  .Card::after,
  .Card * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}
