.Card {
  max-width: var(--brand-Card-maxWidth);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--brand-color-text-default);
  background-color: var(--brand-Card-background-default);
  border: var(--brand-borderWidth-thin) solid var(--brand-color-border-default);
  box-shadow: var(--brand-Card-visual-shadow);
  border-radius: var(--brand-borderRadius-medium);
  padding: var(--base-size-32);
  transition: transform var(--brand-Card-animation-duration) var(--brand-Card-animation-easing);
}

.Card:hover {
  transform: scale3d(1.025, 1.025, 1);
}

.Card__label {
  align-self: flex-start;
  color: var(--brand-Card-label-default);
  border: var(--brand-borderWidth-thin) solid;
  border-radius: var(--brand-borderRadius-full);
  padding: calc(var(--base-size-4) - 2px) var(--base-size-12);
  margin-bottom: var(--base-size-32);
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
}

.Card__label-wrapper {
  line-height: var(--brand-text-lineHeight-200);
}

.Card__label--text {
  font-weight: var(--base-text-weight-semibold);
  color: inherit;
}

.Card__heading {
  margin-bottom: var(--base-size-20);
}

.Card__description {
  margin-bottom: var(--base-size-48);
}

.Card__action {
  margin-top: auto;
  display: inline-flex;
  align-items: center;
}
