.Card {
  max-width: var(--brand-Card-maxWidth);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--brand-color-text-default);
  background-color: var(--brand-Card-background-default);
  border: var(--brand-borderWidth-thin) solid var(--brand-color-border-default);
  box-shadow: var(--brand-Card-shadow);
  border-radius: var(--brand-borderRadius-medium);
  padding: var(--base-size-32);
  transition: transform var(--brand-Card-animation-duration) var(--brand-Card-animation-easing);
  will-change: transform;
}

.Card:hover {
  transform: scale3d(1.025, 1.025, 1);
}

.Card__label {
  margin-bottom: var(--base-size-24);
}

.Card__heading {
  margin-bottom: var(--base-size-20);
}

.Card__description {
  margin-bottom: var(--base-size-48);
}

.Card__action {
  margin-top: auto;
  display: inline-flex;
  align-items: center;
}
