.Pillar {
  max-width: 50ch;
  color: var(--brand-color-text-default);
  display: flex;
  flex-direction: column;
}

.Pillar.Pillar--align-center {
  align-items: center;
  text-align: center;
}

.Pillar.Pillar--align-start {
  align-items: flex-start;
  text-align: left;
}

.Pillar__image {
  margin-bottom: var(--base-size-28);
  border-radius: var(--brand-borderRadius-medium);
  overflow: hidden;
}

.Pillar__image img,
.Pillar__image span {
  display: block;
}

.Pillar__icon {
  display: flex;
  margin-bottom: var(--base-size-24);
}

.Pillar__heading {
  margin-bottom: var(--base-size-16);
}

.Pillar__description {
  margin-bottom: var(--base-size-24);
}

.Pillar__link {
  margin-top: auto;
}

.Pillar__icon--color-default {
  color: var(--brand-Pillar-icon-color-default);
}

.Pillar__icon--color-blue {
  color: var(--brand-Pillar-icon-color-blue);
}

.Pillar__icon--color-coral {
  color: var(--brand-Pillar-icon-color-coral);
}

.Pillar__icon--color-green {
  color: var(--brand-Pillar-icon-color-green);
}

.Pillar__icon--color-gray {
  color: var(--brand-Pillar-icon-color-gray);
}

.Pillar__icon--color-indigo {
  color: var(--brand-Pillar-icon-color-indigo);
}

.Pillar__icon--color-lemon {
  color: var(--brand-Pillar-icon-color-lemon);
}

.Pillar__icon--color-lime {
  color: var(--brand-Label-color-lime);
}

.Pillar__icon--color-orange {
  color: var(--brand-Pillar-icon-color-orange);
}

.Pillar__icon--color-pink {
  color: var(--brand-Pillar-icon-color-pink);
}

.Pillar__icon--color-purple {
  color: var(--brand-Pillar-icon-color-purple);
}

.Pillar__icon--color-red {
  color: var(--brand-Pillar-icon-color-red);
}

.Pillar__icon--color-teal {
  color: var(--brand-Pillar-icon-color-teal);
}

.Pillar__icon--color-yellow {
  color: var(--brand-Pillar-icon-color-yellow);
}
