/**
 * Custom overrides
 * Should be fixed in the respective components
 */

.FeaturePreview__trailingSection {
  --brand-color-canvas-subtle: var(--base-color-scale-gray-1);
}

[data-color-mode='dark'] .FeaturePreview__trailingSection {
  --brand-color-canvas-subtle: var(--base-color-scale-gray-7);
}

.FeaturePreview__borderTop {
  border-top: var(--brand-borderWidth-thin) solid var(--brand-color-border-default);
}
