.heroSection {
  border-bottom: var(--brand-borderWidth-thin) solid var(--brand-color-border-muted);
}

.hero {
  --brand-Hero-gridline-padding: var(--base-size-32);
}

.sectionHeader {
  padding: var(--base-size-48) var(--base-size-32) var(--base-size-32);
}

.sectionHeaderColumn,
.cardGridFooterColumn {
  min-width: 0;
}

.sortLabel {
  flex-shrink: 0;
}

.cardGrid {
  --editorial-cardGrid-border: var(--brand-borderWidth-thin) solid var(--brand-color-border-muted);

  border-inline: var(--editorial-cardGrid-border);
}

.cardGridColumn {
  display: flex;
}

.cardGridItem {
  --editorial-cardGrid-hover-overlay: color-mix(in srgb, var(--base-color-scale-gray-0) 50%, transparent);

  width: 100%;
  height: 100%;
  padding: 0;
  transition: background var(--brand-animation-duration-extended) var(--brand-animation-easing-default);
}

.cardGridColumnMiddleMobileRow .cardGridItem {
  border-block: var(--editorial-cardGrid-border);
}

.cardGridColumnArrowHover .cardGridItem:is(:hover, :focus-within) {
  background: linear-gradient(to top, var(--editorial-cardGrid-hover-overlay) 0%, transparent 100%),
    var(--brand-color-canvas-default);
}

[data-color-mode='dark'] .cardGridColumnArrowHover .cardGridItem:is(:hover, :focus-within) {
  --editorial-cardGrid-hover-overlay: color-mix(in srgb, var(--base-color-scale-gray-0) 10%, transparent);
}

.resourceCard {
  min-height: 100%;
}

.cardGridItem .resourceCard:hover {
  transform: none;
}

.paginationFrame {
  padding-inline: var(--base-size-32);
}

@media screen and (min-width: 48rem) and (max-width: 63.24rem) {
  .cardGridColumnMiddleMobileRow .cardGridItem {
    border-block: 0;
  }

  .cardGridColumnTabletDivider .cardGridItem {
    border-inline-start: var(--editorial-cardGrid-border);
  }

  .cardGridColumnTabletEndDivider .cardGridItem {
    border-inline-end: var(--editorial-cardGrid-border);
  }

  .cardGridColumnTabletLastCompleteRow .cardGridItem {
    border-block-end: var(--editorial-cardGrid-border);
  }

  .cardGridColumnMiddleTabletRow .cardGridItem {
    border-block: var(--editorial-cardGrid-border);
  }
}

@media screen and (min-width: 63.25rem) {
  .cardGridColumnMiddleMobileRow .cardGridItem {
    border-block: 0;
  }

  .cardGridColumnDesktopStartDivider .cardGridItem {
    border-inline-start: var(--editorial-cardGrid-border);
  }

  .cardGridColumnMiddleDesktopRow .cardGridItem {
    border-block: var(--editorial-cardGrid-border);
  }
}
