.Text {
  font-family: var(--brand-body-fontFamily);
}

.Text--default {
  color: var(--brand-color-text-default);
}

.Text--muted {
  color: var(--brand-color-text-muted);
}

.Text--700 {
  font-weight: var(--brand-text-weight-700);
  font-size: var(--brand-text-size-700);
  line-height: var(--brand-text-lineHeight-700);
  letter-spacing: var(--brand-text-body-letterSpacing-100);
}

.Text--600 {
  font-weight: var(--brand-text-weight-600);
  font-size: var(--brand-text-size-600);
  line-height: var(--brand-text-lineHeight-600);
}

.Text--500 {
  font-weight: var(--brand-text-weight-500);
  font-size: var(--brand-text-size-500);
  line-height: var(--brand-text-lineHeight-500);
}

.Text--400 {
  font-weight: var(--brand-text-weight-400);
  font-size: var(--brand-text-size-400);
  line-height: var(--brand-text-lineHeight-400);
}

.Text--300 {
  font-weight: var(--brand-text-weight-300);
  font-size: var(--brand-text-size-300);
  line-height: var(--brand-text-lineHeight-300);
}

.Text--200 {
  font-weight: var(--brand-text-weight-200);
  font-size: var(--brand-text-size-200);
  line-height: var(--brand-text-lineHeight-200);
}

.Text--100 {
  font-weight: var(--brand-text-weight-100);
  font-size: var(--brand-text-size-100);
  line-height: var(--brand-text-lineHeight-100);
}
