.Hero {
  padding: var(--brand-Hero-narrow-padding);
  display: flex;
  flex-direction: column;
}

.Hero--align-start {
  align-items: flex-start;
  text-align: left;
}

.Hero--align-center {
  justify-items: center;
  align-items: center;
  text-align: center;
}

.Hero-grid {
  --brand-Grid-spacing-margin: 0;
}

.Hero-grid--block-end,
.Hero-grid--inline-end {
  --brand-Grid-spacing-row: var(--base-size-40);
}

@media screen and (min-width: 48rem) {
  .Hero-grid--block-end {
    --brand-Grid-spacing-row: var(--base-size-80);
  }
}

.Hero--align-center .Hero-actions {
  justify-content: center;
}

.Hero--align-center .Hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Hero-media video,
.Hero-media iframe,
.Hero-media img {
  width: 100%;
  border-radius: var(--brand-borderRadius-large);
}

.Hero-label {
  margin-block-end: var(--base-size-24);
}

.Hero-heading {
  margin: 0;
  max-width: 924px;
}

.Hero-heading--fullWidth {
  max-width: unset;
}

.Hero-description {
  margin: var(--base-size-24) 0 0;
  max-width: 600px;
}

.Hero-actions {
  margin-block-start: var(--base-size-32);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--base-size-8) var(--base-size-16);
}

.Hero-trailing {
  margin-block-start: var(--base-size-32);
}

.Hero-eyebrow {
  margin-block-end: var(--base-size-32);
}

/* Small breakpoint and up */
@media screen and (min-width: 34rem) {
  .Hero {
    padding: var(--brand-Hero-regular-padding);
  }
}
