@font-face {
  font-family: 'Mona Sans';
  src: url('./MonaSansVF%5Bwdth,wght,opsz%5D.woff2') format('woff2 supports variations'),
    url('./MonaSansVF%5Bwdth,wght,opsz%5D.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-display: swap;
  font-synthesis: none;
  font-feature-settings: 'liga' 0;
}

@font-face {
  font-family: 'MonaSansFallback';
  size-adjust: 104.5%;
  ascent-override: 71%;
  src: local(Arial);
}

@font-face {
  font-family: 'MonaSansHeaderFallback';
  size-adjust: 103.1%;
  ascent-override: 70%;
  src: local(Arial Bold);
}

@font-face {
  font-family: 'Hubot Sans';
  src: url('./Hubot-Sans.woff2') format('woff2 supports variations'),
    url('./Hubot-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-display: swap;
}

@font-face {
  font-family: 'Mona Sans Mono';
  src: url('./MonaSansMonoVF%5Bwght%5D.woff2') format('woff2 supports variations'),
    url('./MonaSansMonoVF%5Bwght%5D.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-display: swap;
  font-synthesis: none;
}
