.LinkButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;

  text-decoration: none;
  border-radius: 6px;
  cursor: pointer;
}

.LinkButton--label {
  font-weight: var(--base-text-weight-semibold);
}

.LinkButton-arrow {
  margin-left: 4px;
}

.LinkButton--primary {
  color: var(--gh-color-fg-onEmphasis);
  background-color: var(--gh-color-neutral-emphasisPlus);
}

.LinkButton--label-primary {
  color: var(--gh-color-fg-onEmphasis);
}

.LinkButton--secondary {
  color: var(--gh-color-fg-default);
  box-shadow: inset 0 0 0 1px var(--gh-color-border-default);
  transition: box-shadow 200ms;
}

.LinkButton--secondary:hover {
  box-shadow: inset 0 0 0 2px var(--gh-color-neutral-emphasisPlus);
}
