.LinkButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  transition: box-shadow 0.2s;
  text-decoration: none;
  border-radius: 6px;
  cursor: pointer;
}

.LinkButton:focus {
  outline: 0;
  box-shadow: var(--brand-Button-shadow-focus), var(--brand-Button-shadow-hover);
}

.LinkButton--label {
  font-weight: var(--base-text-weight-semibold);
}

.LinkButton-arrow {
  margin-left: 4px;
}

.LinkButton--primary {
  color: var(--brand-color-fg-onEmphasis);
  background-color: var(--brand-Button-background-base);
  background: var(--brand-Button-background-overlay);
}

.LinkButton--primary:hover {
  box-shadow: var(--brand-Button-shadow-hover);
}

.LinkButton--label-primary {
  color: var(--brand-color-fg-onEmphasis);
}

.LinkButton--secondary {
  color: var(--brand-color-fg-default);
  box-shadow: inset 0 0 0 1px var(--brand-color-border-default);
  transition: box-shadow 200ms;
}

.LinkButton--secondary:hover {
  box-shadow: inset 0 0 0 2px var(--brand-color-neutral-emphasisPlus);
}
