.SectionIntroStacked {
  --brand-Grid-spacing-row: var(--base-size-48);
}

.SectionIntroStacked-heading--muted,
.SectionIntroStackedItem__item-text--muted {
  color: var(--brand-color-text-muted);
}

.SectionIntroStacked-heading--muted em,
.SectionIntroStacked-heading--muted b,
.SectionIntroStackedItem__item-text em,
.SectionIntroStackedItem__item-text b {
  color: var(--brand-color-text-default);
  font-style: normal;
  font-weight: var(--base-text-weight-normal);
}

.SectionIntroStacked--full-width .SectionIntroStacked-heading {
  max-width: none;
}

.SectionIntroStacked-link {
  margin-block-start: var(--base-size-16);
}

.SectionIntroStacked-items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--base-size-32);
}

@media screen and (max-width: 63.25rem) {
  .SectionIntroStacked-heading {
    font-size: var(--brand-text-size-600);
  }
}

@media screen and (min-width: 48rem) {
  .SectionIntroStackedItem-item {
    gap: var(--base-size-40);
  }

  .SectionIntroStacked-items {
    /* Optical alignment with adjacent content */
    position: relative;
    top: var(--base-size-2);
  }
}
