.Box {
  padding-block: var(--box-npbs) var(--box-npbe);
  padding-inline: var(--box-npis) var(--box-npie);

  margin-block: var(--box-nmbs) var(--box-nmbe);
  margin-inline: var(--box-nmis) var(--box-nmie);
}

@media screen and (min-width: 48rem) {
  .Box {
    padding-block: var(--box-rpbs) var(--box-rpbe);
    padding-inline: var(--box-rpis) var(--box-rpie);

    margin-block: var(--box-rmbs) var(--box-rmbe);
    margin-inline: var(--box-rmis) var(--box-rmie);
  }
}

@media screen and (min-width: 80rem) {
  .Box {
    padding-block: var(--box-wpbs) var(--box-wpbe);
    padding-inline: var(--box-wpis) var(--box-wpie);

    margin-block: var(--box-wmbs) var(--box-wmbe);
    margin-inline: var(--box-wmis) var(--box-wmie);
  }
}

/**
 * Background Color
 */
.Box-backgroundColor--default {
  background-color: var(--brand-color-canvas-default);
}

.Box-backgroundColor--inset {
  background-color: var(--brand-color-canvas-inset);
}

.Box-backgroundColor--subtle {
  background-color: var(--brand-color-canvas-subtle);
}

.Box-backgroundColor--overlay {
  background-color: var(--brand-color-canvas-subtle);
}

/*
* Border Radius
*/
.Box-borderRadius--small {
  border-radius: var(--brand-borderRadius-small);
}

.Box-borderRadius--medium {
  border-radius: var(--brand-borderRadius-medium);
}

.Box-borderRadius--large {
  border-radius: var(--brand-borderRadius-large);
}

.Box-borderRadius--xlarge {
  border-radius: var(--brand-borderRadius-xlarge);
}

.Box-borderRadius--full {
  border-radius: var(--brand-borderRadius-full);
}

/*
* Border Width
*/
.Box-borderWidth--thin {
  border-width: var(--brand-borderWidth-thin);
}

.Box-borderWidth--thick {
  border-width: var(--brand-borderWidth-thick);
}

.Box-borderWidth--thicker {
  border-width: var(--brand-borderWidth-thicker);
}

.Box-borderBlockStartWidth--thin {
  border-width: 0;
  border-block-start-width: var(--brand-borderWidth-thin);
}

.Box-borderBlockStartWidth--thick {
  border-width: 0;
  border-block-start-width: var(--brand-borderWidth-thick);
}

.Box-borderBlockStartWidth--thicker {
  border-width: 0;
  border-block-start-width: var(--brand-borderWidth-thicker);
}

.Box-borderInlineEndWidth--thin {
  border-width: 0;
  border-right-width: var(--brand-borderWidth-thin);
}

.Box-borderInlineEndWidth--thick {
  border-width: 0;
  border-right-width: var(--brand-borderWidth-thick);
}

.Box-borderInlineEndWidth--thicker {
  border-width: 0;
  border-right-width: var(--brand-borderWidth-thicker);
}

.Box-borderBlockEndWidth--thin {
  border-width: 0;
  border-bottom-width: var(--brand-borderWidth-thin);
}

.Box-borderBlockEndWidth--thick {
  border-width: 0;
  border-bottom-width: var(--brand-borderWidth-thick);
}

.Box-borderBlockEndWidth--thicker {
  border-width: 0;
  border-bottom-width: var(--brand-borderWidth-thicker);
}

.Box-borderInlineStartWidth--thin {
  border-width: 0;
  border-left-width: var(--brand-borderWidth-thin);
}

.Box-borderInlineStartWidth--thick {
  border-width: 0;
  border-left-width: var(--brand-borderWidth-thick);
}

.Box-borderInlineStartWidth--thicker {
  border-width: 0;
  border-left-width: var(--brand-borderWidth-thicker);
}

/*
* Border Color
*/
.Box-borderColor--default {
  border-color: var(--brand-color-border-default);
}

.Box-borderColor--muted {
  border-color: var(--brand-color-border-muted);
}

.Box-borderColor--subtle {
  border-color: var(--brand-color-border-subtle);
}

/*
* Border Style
*/
.Box-borderStyle--solid {
  border-style: solid;
}

.Box-borderStyle--none {
  border-style: none;
}
