.Box {
  --box-narrow-padding-block-start: 0;
  --box-narrow-padding-block-end: 0;
  --box-narrow-padding-inline-start: 0;
  --box-narrow-padding-inline-end: 0;
  --box-narrow-margin-block-start: 0;
  --box-narrow-margin-block-end: 0;
  --box-narrow-margin-inline-start: 0;
  --box-narrow-margin-inline-end: 0;

  padding-block: var(--box-narrow-padding-block-start) var(--box-narrow-padding-block-end);
  padding-inline: var(--box-narrow-padding-inline-start) var(--box-narrow-padding-inline-end);

  margin-block: var(--box-narrow-margin-block-start) var(--box-narrow-margin-block-end);
  margin-inline: var(--box-narrow-margin-inline-start) var(--box-narrow-margin-inline-end);
}

@media screen and (min-width: 48rem) {
  .Box {
    --box-regular-padding-block-start: 0;
    --box-regular-padding-block-end: 0;
    --box-regular-padding-inline-start: 0;
    --box-regular-padding-inline-end: 0;
    --box-regular-margin-block-start: 0;
    --box-regular-margin-block-end: 0;
    --box-regular-margin-inline-start: 0;
    --box-regular-margin-inline-end: 0;

    padding-block: var(--box-regular-padding-block-start) var(--box-regular-padding-block-end);
    padding-inline: var(--box-regular-padding-inline-start) var(--box-regular-padding-inline-end);

    margin-block: var(--box-regular-margin-block-start) var(--box-regular-margin-block-end);
    margin-inline: var(--box-regular-margin-inline-start) var(--box-regular-margin-inline-end);
  }
}

@media screen and (min-width: 80rem) {
  .Box {
    --box-wide-padding-block-start: 0;
    --box-wide-padding-block-end: 0;
    --box-wide-padding-inline-start: 0;
    --box-wide-padding-inline-end: 0;
    --box-wide-margin-block-start: 0;
    --box-wide-margin-block-end: 0;
    --box-wide-margin-inline-start: 0;
    --box-wide-margin-inline-end: 0;

    padding-block: var(--box-wide-padding-block-start) var(--box-wide-padding-block-end);
    padding-inline: var(--box-wide-padding-inline-start) var(--box-wide-padding-inline-end);

    margin-block: var(--box-wide-margin-block-start) var(--box-wide-margin-block-end);
    margin-inline: var(--box-wide-margin-inline-start) var(--box-wide-margin-inline-end);
  }
}

/**
 * Background Color
 */
.Box-backgroundColor--default {
  background-color: var(--brand-color-canvas-default);
}

.Box-backgroundColor--inset {
  background-color: var(--brand-color-canvas-inset);
}

.Box-backgroundColor--subtle {
  background-color: var(--brand-color-canvas-subtle);
}

.Box-backgroundColor--overlay {
  background-color: var(--brand-color-canvas-subtle);
}

/*
* Border Radius
*/
.Box-borderRadius--small {
  border-radius: var(--brand-borderRadius-small);
}

.Box-borderRadius--medium {
  border-radius: var(--brand-borderRadius-medium);
}

.Box-borderRadius--large {
  border-radius: var(--brand-borderRadius-large);
}

.Box-borderRadius--xlarge {
  border-radius: var(--brand-borderRadius-xlarge);
}

.Box-borderRadius--full {
  border-radius: var(--brand-borderRadius-full);
}

/*
* Border Width
*/
.Box-borderWidth--thin {
  border-width: var(--brand-borderWidth-thin);
}

.Box-borderWidth--thick {
  border-width: var(--brand-borderWidth-thick);
}

.Box-borderWidth--thicker {
  border-width: var(--brand-borderWidth-thicker);
}

.Box-borderBlockStartWidth--thin {
  border-width: 0;
  border-block-start-width: var(--brand-borderWidth-thin);
}

.Box-borderBlockStartWidth--thick {
  border-width: 0;
  border-block-start-width: var(--brand-borderWidth-thick);
}

.Box-borderBlockStartWidth--thicker {
  border-width: 0;
  border-block-start-width: var(--brand-borderWidth-thicker);
}

.Box-borderInlineEndWidth--thin {
  border-width: 0;
  border-right-width: var(--brand-borderWidth-thin);
}

.Box-borderInlineEndWidth--thick {
  border-width: 0;
  border-right-width: var(--brand-borderWidth-thick);
}

.Box-borderInlineEndWidth--thicker {
  border-width: 0;
  border-right-width: var(--brand-borderWidth-thicker);
}

.Box-borderBlockEndWidth--thin {
  border-width: 0;
  border-bottom-width: var(--brand-borderWidth-thin);
}

.Box-borderBlockEndWidth--thick {
  border-width: 0;
  border-bottom-width: var(--brand-borderWidth-thick);
}

.Box-borderBlockEndWidth--thicker {
  border-width: 0;
  border-bottom-width: var(--brand-borderWidth-thicker);
}

.Box-borderInlineStartWidth--thin {
  border-width: 0;
  border-left-width: var(--brand-borderWidth-thin);
}

.Box-borderInlineStartWidth--thick {
  border-width: 0;
  border-left-width: var(--brand-borderWidth-thick);
}

.Box-borderInlineStartWidth--thicker {
  border-width: 0;
  border-left-width: var(--brand-borderWidth-thicker);
}

/*
* Border Color
*/
.Box-borderColor--default {
  border-color: var(--brand-color-border-default);
}

.Box-borderColor--muted {
  border-color: var(--brand-color-border-muted);
}

.Box-borderColor--subtle {
  border-color: var(--brand-color-border-subtle);
}

/*
* Border Style
*/
.Box-borderStyle--solid {
  border-style: solid;
}

.Box-borderStyle--none {
  border-style: none;
}
