.Button {
  appearance: none;
  user-select: none;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.2s;
  text-decoration: none;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  background: none;
}

.Button:focus {
  outline: 0;
  box-shadow: var(--brand-Button-shadow-focus), var(--brand-Button-shadow-hover);
}

.Button--label {
  font-weight: var(--base-text-weight-semibold);
}

.Button-arrow {
  margin-left: 4px;
}

.Button--primary {
  color: var(--brand-color-text-onEmphasis);
  background-color: var(--brand-Button-background-base);
  background: var(--brand-Button-background-overlay);
}

.Button--primary:hover {
  box-shadow: var(--brand-Button-shadow-hover);
}

.Button--label-primary {
  color: var(--brand-color-text-onEmphasis);
}

.Button--secondary {
  color: var(--brand-color-text-default);
  box-shadow: inset 0 0 0 1px var(--brand-color-border-default);
  transition: box-shadow 200ms;
}

.Button--secondary:hover {
  box-shadow: inset 0 0 0 2px var(--brand-color-neutral-emphasisPlus);
}

.Button--subtle {
  color: var(--brand-color-text-default);
  transition: box-shadow 200ms;
}

.Button--subtle:hover {
  box-shadow: inset 0 0 0 2px var(--brand-color-neutral-emphasisPlus);
}

.Button--size-medium {
  padding: var(--base-size-16) var(--base-size-24);
}

.Button--size-large {
  padding: var(--base-size-16) var(--base-size-32);
}
