.Button {
  appearance: none;
  user-select: none;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  transition: box-shadow var(--brand-animation-duration-faster);
  text-decoration: none;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  background: none;
  display: inline-flex;
  gap: var(--brand-control-medium-gap);
}

.Button:hover {
  text-decoration: none;
}

.Button:focus:not(.Button[disabled]) {
  outline: none;
  box-shadow: 0 0 0 2px var(--brand-color-canvas-default), 0 0 0 5px var(--brand-color-focus);
  transition: none;
}

.Button__text {
  position: relative;
  /*top: 0.5px;  visual offset for off-center mona sans glyphs */
  /* line-height: var(--brand-text-lineHeight-200); */
}

.Button__icon-visual {
  display: flex;
  align-self: center;
  height: var(--base-size-16);
  width: auto;
  fill: currentcolor;
}

.Button__trailing-visual,
.Button__leading-visual {
  display: flex;
}

.Button--label.Button-label--disabled,
.Button__icon-visual--disabled {
  color: var(--brand-Button-fg-primary-disabled);
}

.Button--primary .Button-arrow--disabled,
.Button--primary .Button__icon-visual--disabled {
  color: var(--brand-Button-fg-primary-disabled);
}

.Button--secondary .Button-arrow--disabled,
.Button--subtle .Button-arrow--disabled,
.Button--subtle .Button__icon-visual--disabled,
.Button--secondary .Button__icon-visual--disabled {
  color: var(--brand-Button-fg-secondary-disabled);
}

.Button--primary {
  color: var(--brand-color-text-onEmphasis);
  background-color: var(--brand-Button-background-base);
  background: var(--brand-Button-background-overlay);
}

.Button--primary:not(.Button[disabled], .Button[aria-disabled='true']):hover {
  box-shadow: var(--brand-Button-shadow-primary-hover);
}

.Button--primary.Button--disabled {
  background-color: var(--base-color-scale-gray-4);
}

.Button--label-primary {
  color: var(--brand-color-text-onEmphasis);
}

.Button--label-primary.Button-label--disabled {
  color: var(--brand-Button-fg-primary-disabled);
}

.Button--secondary {
  color: var(--brand-color-text-default);
  box-shadow: var(--brand-Button-shadow-secondary-default);
  transition: box-shadow 200ms;
}

.Button--secondary:not(.Button[disabled], .Button[aria-disabled='true']):hover {
  box-shadow: var(--brand-Button-shadow-secondary-hover);
}

.Button--label-secondary.Button-label--disabled,
.Button--label-secondary.Button-label--disabled,
.Button__icon-visual--disabled {
  color: var(--brand-Button-fg-secondary-disabled);
}

.Button--subtle {
  color: var(--brand-color-text-default);
  transition: box-shadow 200ms;
}

.Button--subtle:hover:not(.Button[disabled]) {
  box-shadow: var(--brand-Button-shadow-subtle-hover);
}

.Button--size-medium {
  height: var(--brand-control-medium-size);
  padding: var(--brand-control-medium-paddingBlock) var(--brand-control-medium-paddingInline-spacious);
}

.Button--size-large {
  height: var(--brand-control-large-size);
  padding: var(--brand-control-large-paddingBlock) var(--brand-control-large-paddingInline-spacious);
}

.Button--block {
  width: 100%;
}

.Button--disabled,
.Button--disabled:hover,
.Button--disabled:focus {
  cursor: not-allowed;
  outline: none;
}

.Button--disabled:not(.Button--secondary) {
  box-shadow: none;
}

@media (forced-colors: active) {
  .Button--primary,
  .Button--secondary,
  .Button--disabled:hover {
    outline: var(--brand-borderWidth-thick) solid transparent;
    outline-offset: 2px;
  }

  .Button--disabled {
    outline-color: GrayText;
  }

  /* Retains focus indicator when in "Windows High Contrast Mode". */
  .Button:focus:not(.Button--disabled[disabled]) {
    outline: var(--brand-borderWidth-thick) solid;
    outline-color: var(--brand-color-focus);
    outline-offset: 2px;
  }

  /* Indicates disabled state in WHCM */
  .Button--label.Button-label--disabled {
    color: GrayText;
  }
}
