.Button {
  appearance: none;
  user-select: none;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.2s;
  text-decoration: none;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  background: none;
}

.Button:focus:not(.Button--disabled[disabled]) {
  outline: none;
  box-shadow: 0 0 0 2px var(--brand-color-canvas-default), 0 0 0 5px var(--brand-color-focus);
}

.Button--label {
  font-weight: var(--base-text-weight-semibold);
}

.Button--label.Button-label--disabled {
  color: var(--brand-Button-fg-primary-disabled);
}

.Button-arrow {
  margin-left: 4px;
}

.Button--primary .Button-arrow--disabled {
  color: var(--brand-Button-fg-primary-disabled);
}

.Button--secondary .Button-arrow--disabled,
.Button--subtle .Button-arrow--disabled {
  color: var(--brand-Button-fg-secondary-disabled);
}

.Button--primary {
  color: var(--brand-color-text-onEmphasis);
  background-color: var(--brand-Button-background-base);
  background: var(--brand-Button-background-overlay);
}

.Button--primary:not(.Button--disabled):hover {
  box-shadow: var(--brand-Button-shadow-primary-hover);
}

.Button--primary.Button--disabled {
  background-color: var(--base-color-scale-gray-4);
}

.Button--label-primary {
  color: var(--brand-color-text-onEmphasis);
}

.Button--label-primary.Button-label--disabled {
  color: var(--brand-Button-fg-primary-disabled);
}

.Button--secondary {
  color: var(--brand-color-text-default);
  box-shadow: var(--brand-Button-shadow-secondary-default);
  transition: box-shadow 200ms;
}

.Button--secondary:not(.Button--disabled):hover {
  box-shadow: var(--brand-Button-shadow-secondary-hover);
}

.Button--label-secondary.Button-label--disabled,
.Button--label-secondary.Button-label--disabled {
  color: var(--brand-Button-fg-secondary-disabled);
}

.Button--subtle {
  color: var(--brand-color-text-default);
  transition: box-shadow 200ms;
}

.Button--subtle:hover {
  box-shadow: inset 0 0 0 2px var(--brand-color-neutral-emphasisPlus);
}

.Button--size-medium {
  padding: calc(var(--base-size-16) - 2px) var(--base-size-24);
}

.Button--size-medium .Button--label {
  /* Brings overall default height down to 48px */
  line-height: var(--brand-text-lineHeight-200);
}

.Button--size-large {
  padding: var(--base-size-16) var(--base-size-32);
}

.Button--size-large .Button--label {
  /* Brings overall default height down to 56px */
  line-height: var(--brand-text-lineHeight-300);
}

.Button--disabled,
.Button--disabled:hover,
.Button--disabled:focus {
  cursor: not-allowed;
  outline: none;
}

.Button--disabled:not(.Button--secondary) {
  box-shadow: none;
}

@media (forced-colors: active) {
  /* Retains focus indicator when in "Windows High Contrast Mode". */
  .Button:focus:not(.Button--disabled[disabled]) {
    outline: 3px solid;
    outline-color: var(--brand-color-focus);
    outline-offset: 2px;
  }

  /* Indicates disabled state in WHCM */
  .Button--label.Button-label--disabled {
    color: GrayText;
  }
}
