.PageHeader {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: var(--base-size-16) var(--base-size-24) var(--base-size-16)
    var(--base-size-24);
  border-bottom: var(--brand-borderWidth-thin) solid var(--brand-color-border-muted);
  background: var(--brand-color-canvas-default);
  z-index: 1;
}

.SiteTitle {
  display: flex;
  gap: var(--base-size-8);
  align-items: center;
  text-decoration: none;
}

.SiteTitle svg {
  fill: var(--brand-color-text-default);
}

.Title {
  display: inline-block;
  font-size: var(--text-body-size-large);
  font-weight: var(--base-text-weight-semibold);
  color: var(--fgColor-default, #1f2328);
  font-family: var(--brand-fontStack-sansSerif);
}

.SidePanel {
  display: none;
  margin-left: auto;
}

@media (max-width: 768px) {
  .PageHeader {
    padding: var(--base-size-16);
  }

  .SidePanel {
    display: block;
  }
}
