.HeroPageWrapper {
  flex-direction: column;
  min-height: 100vh;
  display: flex;
}

.HeroLayoutWrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
}

.HeroLayoutSidebarWrapper {
  display: block;

  @media screen and (max-width: 64rem) {
    display: none;
  }
}

.HeroLayoutMain {
  padding: var(--base-size-24);
  width: 100%;
  @media screen and (max-width: 48rem) {
    padding-bottom: 0;
  }
}

.LandingPageLayout {
  max-width: var(--breakpoint-xlarge, 80rem);
  margin: 0 auto;
  width: 100%;
  padding: 0 var(--base-size-48);

  @media screen and (max-width: 64rem) {
    padding: 0;
  }
}
