/* NavList style overrides needed because NavList uses hard-coded pixel values instead of rem-based CSS variables */
.NavList__Container li span {
  font-size: var(--brand-text-size-100);
}

.NavList__Container li a span,
.NavList__Container li button span {
  font-size: var(--brand-text-size-200);
  line-height: var(--brand-text-lineHeight-200);
}
/* END NavList overrides */
