.Image__container {
  display: inline-block;
}

.Image {
  object-fit: cover;
  display: inline-block;
}

.Image--aspect-ratio-custom {
  aspect-ratio: var(--brand-image-aspectRatio);
}

.Image--aspect-ratio-1-1 {
  --brand-image-aspectRatio: 1 / 1;
}

.Image--aspect-ratio-16-9 {
  --brand-image-aspectRatio: 16 / 9;
}

.Image--aspect-ratio-16-10 {
  --brand-image-aspectRatio: 16 / 10;
}

.Image--aspect-ratio-4-3 {
  --brand-image-aspectRatio: 4 / 3;
}
