.Image__container {
  display: inline-block;
}

.Image {
  object-fit: cover;
  display: inline-block;
}

/* Ratio Classes */
.Image-- {
  display: inline-block;
}

.Image--aspect-ratio-custom {
  aspect-ratio: var(--brand-Image-ratio-custom);
}

.Image--aspect-ratio-1-1 {
  aspect-ratio: 1 / 1;
}

.Image--aspect-ratio-16-9 {
  aspect-ratio: 16 / 9;
}

.Image--aspect-ratio-16-10 {
  aspect-ratio: 16 / 10;
}

.Image--aspect-ratio-4-3 {
  aspect-ratio: 4 / 3;
}
