/* ---------------------------------------------------------- */
/* VideoPlayer Contents                                       */
/* ---------------------------------------------------------- */
/* Table of contents:                                         */
/* 1. Container                                               */
/* 2. Player                                                  */
/* 2. Center Play Button                                      */
/* 4. Title                                                   */
/* 5. Controls                                                */
/* 6. Range Element                                           */
/* 7. Tooltip                                                 */
/* 8. Captions                                                */
/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
/* 1. Container                                               */
/* ---------------------------------------------------------- */

.VideoPlayer__container {
  width: 100%;
  position: relative;
  border-radius: var(--brand-borderRadius-medium);
}

/* ---------------------------------------------------------- */
/* 2. Player                                                  */
/* ---------------------------------------------------------- */

.VideoPlayer {
  width: 100%;
  max-height: 100%;
  display: block;
}

/* ---------------------------------------------------------- */
/* 3. Center Play Button                                      */
/* ---------------------------------------------------------- */

.VideoPlayer__playButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000033; /* TODO Use a token for this once v8 migration has been completed */
  border: none;
  z-index: 1;
}

.VideoPlayer__playButtonOverlay {
  width: 25%;
  height: 25%;
  max-width: var(--brand-VideoPlayer-playButton-width);
  max-height: var(--brand-VideoPlayer-playButton-height);
  opacity: 0.8;
}

.VideoPlayer__playButton:focus-visible {
  outline: var(--brand-borderWidth-thicker) solid var(--brand-color-focus);
  outline-offset: 2px;
}

.VideoPlayer__playButton svg {
  color: var(--brand-videoPlayer-playButton-fgColor-rest);
}

/* ---------------------------------------------------------- */
/* 4. Title                                                   */
/* ---------------------------------------------------------- */

.VideoPlayer__title {
  transition: var(--brand-VideoPlayer-transition);
  top: 0;
  position: absolute;
  border-radius: var(--brand-borderRadius-medium);
  left: 0;
  width: 100%;
  z-index: 2;
  padding: var(--base-size-16);
  color: var(--brand-videoPlayer-title-fgColor);
  display: grid;
  align-items: center;
  justify-content: flex-start;
  grid-gap: var(--base-size-12);
  grid-template-columns: auto auto;
  background: var(--brand-videoPlayer-title-bgColor);
}

/* ---------------------------------------------------------- */
/* 5. Controls                                                */
/* ---------------------------------------------------------- */

.VideoPlayer__controls {
  transition: var(--brand-VideoPlayer-transition);
  bottom: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  pointer-events: none;
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.VideoPlayer__controls--hidden {
  opacity: 0;
}

.VideoPlayer__controlsBar {
  display: flex;
  gap: var(--base-size-16);
  align-items: center;
  border-bottom-right-radius: var(--brand-borderRadius-medium);
  border-bottom-left-radius: var(--brand-borderRadius-medium);
  left: 0;
  width: 100%;
  background: var(--brand-videoPlayer-controls-bgColor);
  padding: var(--base-size-16) var(--base-size-24);
  pointer-events: all;
}

.VideoPlayer__controls:focus,
.VideoPlayer__controls:focus-within {
  bottom: 0;
}

.VideoPlayer__controls:focus .VideoPlayer__controlsBar,
.VideoPlayer__controls:focus-within .VideoPlayer__controlsBar {
  opacity: 1;
}

.VideoPlayer__iconControl {
  width: auto;
  background: none;
  border: none;
  cursor: pointer;
  height: var(--base-size-24);
  box-sizing: content-box;
  position: relative;
  padding: 0;
}

.VideoPlayer__iconControl:focus-visible {
  border-color: var(--brand-color-focus);
  outline: none;
  box-shadow: 0 0 0 0.125rem var(--brand-color-focus);
  opacity: 1;
}

.VideoPlayer__iconControl svg {
  color: var(--brand-videoPlayer-controls-fgColor);
}

.VideoPlayer__iconControl:hover .VideoPlayer__tooltip {
  opacity: 1;
}

.VideoPlayer__seek {
  flex: 1;
  display: flex;
  align-items: center;
  gap: var(--base-size-16);
}

.VideoPlayer__progressTime {
  color: var(--brand-videoPlayer-controls-fgColor);
}

.VideoPlayer__container--small .VideoPlayer__totalTime {
  display: none;
}

.VideoPlayer__progressBar {
  flex: 1;
  height: var(--base-size-6);
}

.VideoPlayer__closedCaption {
  border-radius: var(--brand-borderRadius-medium);
  padding: 0.125rem var(--base-size-4);
  border: 0.125rem solid var(--brand-videoPlayer-closedCaption-borderColor-enabled);
  background: var(--brand-videoPlayer-closedCaption-bgColor-enabled);
  position: relative;
}

.VideoPlayer__ccOff {
  background-color: transparent;
}

.VideoPlayer__ccText {
  color: var(--brand-videoPlayer-closedCaption-fgColor-enabled);
}

.VideoPlayer__ccOff .VideoPlayer__ccText {
  color: var(--brand-videoPlayer-closedCaption-fgColor-disabled);
}

/* ---------------------------------------------------------- */
/* 6. Range Element                                           */
/* ---------------------------------------------------------- */
.VideoPlayer__range {
  position: relative;
  width: 100%;
  min-width: var(--brand-VideoPlayer-range-minWidth);
  height: var(--brand-VideoPlayer-range-height);
  background-color: var(--brand-videoPlayer-range-bgColor-default);
  border-radius: var(--brand-VideoPlayer-range-borderRadius);
}

.VideoPlayer__range:hover .VideoPlayer__tooltip {
  opacity: 1;
}

.VideoPlayer__rangeInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: 1;
  display: block;
  width: 100%;
  height: var(--brand-VideoPlayer-range-height);
  margin: 0;
  cursor: pointer;
  background: transparent;
  position: absolute;
  top: 0;
  opacity: 0;
}

.VideoPlayer__rangeInput:focus-visible {
  border-color: var(--brand-color-focus);
  outline: none;
  box-shadow: 0 0 0 0.125rem var(--brand-color-focus);
  opacity: 1;
}

.VideoPlayer__range:hover .VideoPlayer__rangeInput {
  opacity: 1;
}

.VideoPlayer__rangeInput::-moz-range-track,
.VideoPlayer__rangeInput::-webkit-slider-runnable-track {
  background: transparent;
  border: none;
}

.VideoPlayer__rangeProgress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: hidden;
  border: 0;
  border-radius: var(--brand-VideoPlayer-range-borderRadius);
  width: 100%;
  position: absolute;
  height: var(--brand-VideoPlayer-range-height);
  top: 0;
}

.VideoPlayer__rangeProgress::-webkit-progress-bar {
  background-color: var(--brand-videoPlayer-range-bgColor-default);
}

.VideoPlayer__rangeProgress::-webkit-progress-value {
  background-color: var(--brand-videoPlayer-range-bgColor-progress);
}

.VideoPlayer__rangeProgress::-moz-progress-bar {
  background: var(--brand-videoPlayer-range-bgColor-progress);
}

.VideoPlayer__rangeProgress::-ms-fill-lower {
  background-color: var(--brand-videoPlayer-range-bgColor-progress);
  border: none;
}

.VideoPlayer__rangeProgress::-ms-fill-upper {
  background-color: var(--brand-videoPlayer-range-bgColor-default);
  border: none;
}

/* ---------------------------------------------------------- */
/* 7. Tooltip                                                 */
/* ---------------------------------------------------------- */

.VideoPlayer__tooltip {
  position: absolute;
  left: 50%;
  bottom: 100%;
  z-index: 2;
  width: var(--base-size-8);
  height: var(--base-size-8);
  margin-bottom: var(--base-size-16);
  pointer-events: none;
  opacity: 0;
  transform: translate(-50%, 50%);
  transition: transform var(--brand-animation-duration-default) var(--brand-animation-easing-default);
}

.VideoPlayer__tooltip::before {
  position: absolute;
  bottom: calc(var(--base-size-4) * -1);
  left: 0;
  width: var(--base-size-12);
  height: var(--base-size-12);
  content: '';
  background: var(--base-color-scale-white-0);
  border-radius: var(--brand-borderRadius-small);
  transform: rotate(45deg);
}

.VideoPlayer__tooltipContent {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: -1;
  background: white;
  box-shadow: 0 var(--base-size-4) var(--base-size-4) #1b1f2433;
  transform: translate3d(-50%, 0, 0);
  padding: var(--brand-VideoPlayer-tooltip-padding-block) var(--brand-VideoPlayer-tooltip-padding-inline);
  border-radius: var(--brand-borderRadius-medium);
}

.VideoPlayer__tooltipText {
  color: var(--base-color-scale-gray-9);
}

.VideoPlayer__controlTextColor {
  color: var(--base-color-scale-white-0);
}

.VideoPlayer__seekTime {
  white-space: nowrap;
}
