.Navigation {
  display: flex;
  list-style: none;
  align-items: center;
  flex-grow: 1;
}

.Separator {
  color: var(--borderColor-default);
  font-weight: var(--base-text-weight-light);
}

.HorizontalList {
  display: flex;
  list-style: none;
  align-items: center;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  gap: var(--base-size-2);
  padding-right: var(--base-size-16);
  justify-content: flex-end;
}

.Link {
  font-family: var(--brand-fontStack-sansSerif);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--fgColor-muted);
  text-decoration: none;
  padding: 0 var(--base-size-12);
  height: var(--base-size-32);
  border: 1px solid transparent;
  border-radius: var(--borderRadius-medium);
}

.DropdownLink {
  font-family: var(--brand-fontStack-sansSerif);
  color: var(--brand-color-text-muted);
  font-size: var(--brand-text-size-400);
}

.Icon {
  margin-bottom: 6px;
}

.Link:hover {
  background: var(--bgColor-muted);
}

.Link:focus-visible {
  outline: 2px solid var(--focus-outlineColor);
  outline-offset: -2px;
}

.Link[data-active] {
  color: var(--fgColor-default);
  font-weight: var(--base-text-weight-semibold);
}

.HorizontalList {
  display: none;
}

@media (min-width: 1012px) {
  .HorizontalList {
    display: flex;
  }
  .Separator,
  .Dropdown {
    display: none;
  }
}
