@font-face {
  font-family: 'Alliance1';
  src: url('./alliance-1.woff2') format('woff2 supports variations'),
    url('./alliance-1.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-display: swap;
  font-synthesis: none;
}

@font-face {
  font-family: 'Alliance1Fallback';
  size-adjust: 104.5%;
  ascent-override: 71%;
  src: local(Arial);
  font-synthesis: none;
}

@font-face {
  font-family: 'Alliance1HeaderFallback';
  size-adjust: 103.1%;
  ascent-override: 70%;
  src: local(Arial Bold);
  font-synthesis: none;
}
