.Pagination {
  margin-top: var(--base-size-20);
  margin-bottom: var(--base-size-16);
  text-align: center;
}

.Pagination__inner {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--base-size-8);
}

.Pagination__pageItem {
  --brand-button-subtle-borderColor-rest: transparent;
  --brand-button-subtle-borderColor-hover: transparent;
  --brand-button-subtle-borderColor-active: transparent;
}
