.Link {
  --arrow-width: var(--base-size-20);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

.Link:hover {
  text-decoration: none;
}

.Link::after {
  position: absolute;
  bottom: -0.15em;
  left: 0;
  width: calc(100% - var(--arrow-width));
  pointer-events: none;
  content: '';
  border: var(--brand-borderWidth-thin) solid currentColor;
  transform: scaleX(0);
  transform-origin: 0 0;
}

@media screen and (prefers-reduced-motion: no-preference) {
  .Link::after {
    transition: transform var(--brand-animation-duration-fast) ease;
  }
}

.Link:active:after,
.Link:hover:after {
  transform: scaleX(1);
}

.Link:focus:focus-visible {
  outline: var(--brand-borderWidth-thick) solid var(--brand-color-focus);
  outline-offset: var(--base-size-2);
}

.Link--default,
.Link--default span {
  color: var(--brand-Link-color-default);
}

.Link--accent,
.Link--accent span {
  color: var(--brand-Link-color-accent);
}

.Link--label {
  font-weight: var(--base-text-weight-semibold);
}

.Link-arrow {
  margin-left: 4px;
}

.Link--large .Link--label {
  font-size: var(--base-size-20);
}

.Link--large .Link-arrow {
  width: var(--arrow-width);
  height: var(--base-size-20);
}

.Link--arrow-start::after {
  left: auto;
  right: 0;
  transform-origin: right 0;
  width: calc(100% - var(--base-size-20));
}

.Link--arrow-start .Link-arrow {
  margin-left: auto;
  margin-right: 4px;
}

.Link.Link--arrow-none::after {
  width: 100%;
}
