.Accordion {
  box-sizing: border-box;
  position: relative;
}

.Accordion::after {
  content: '';
  border-bottom: var(--brand-borderWidth-thin) solid var(--brand-color-border-default);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: border 0.5s ease;
}

.Accordion:hover::after {
  border-width: var(--brand-borderWidth-thick);
}

.Accordion__summary {
  cursor: pointer;
  padding: var(--base-size-24) 0;
  position: relative;
  display: grid;
  grid-template-columns: var(--base-size-24) auto;
  gap: var(--base-size-8);
}

.Accordion__summary::-webkit-details-marker {
  display: none;
}

.Accordion__summary:focus-visible {
  outline: var(--brand-borderWidth-normal) solid var(--brand-color-focus-default);
}

.Accordion__summary::before,
.Accordion__summary::after {
  font-family: var(--brand-fontStack-monospace);
  cursor: pointer;
  display: block;
  font-size: var(--brand-text-size-600);
  line-height: 28px;
  text-align: center;
  background: linear-gradient(
    -70deg,
    var(--brand-Accordion-toggle-color-start) 0%,
    var(--brand-Accordion-toggle-color-end) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  transition: transform 0.3s ease, opacity 0.2s ease;
  grid-column: 1 / 2;
  grid-row: 1;
  place-self: start center;
}
.Accordion__summary::before {
  font-weight: var(--base-text-weight-medium);
  content: '-';
  opacity: 0;
  margin-top: 3px;
}
.Accordion__summary::after {
  content: '+';
}
details[open] > .Accordion__summary::before {
  opacity: 1;
  transform: rotateZ(180deg);
}
details[open] > .Accordion__summary::after {
  opacity: 0;
  transform: rotateZ(180deg);
}
details[open] > .Accordion__content {
  padding-left: var(--base-size-32);
  padding-bottom: var(--base-size-24);
  margin-top: -var(--base-size-16);
  animation: fade-in 0.5s;
}
.Accordion__content-item {
  margin-bottom: var(--base-size-12);
}
/* Medium breakpoint and up */
@media screen and (min-width: 48rem) {
  .Accordion__summary {
    gap: var(--base-size-32);
  }
  details[open] > .Accordion__content {
    padding-left: calc(var(--base-size-48) + var(--base-size-8));
  }
}
