.Testimonial {
  --testimonial-quote-size: var(--brand-text-size-300);
  display: grid;
  gap: var(--base-size-16);
  font-family: var(--brand-fontStack-sansSerif);
  font-size: var(--testimonial-quote-size);
  color: var(--brand-color-text-default);
}

.Testimonial::before {
  content: '“';
  color: var(--testimonial-accent-color);
  font-size: var(--base-size-48);
  line-height: var(--base-size-48);
  font-weight: var(--base-text-weight-extrabold);
}

.Testimonial--center {
  text-align: center;
  justify-items: center;
}

.Testimonial--size-large {
  --testimonial-quote-size: var(--brand-text-size-700);
  gap: var(--base-size-24);
}

.Testimonial--size-large::before {
  font-size: 3em;
  line-height: 1;
}

.Testimonial-quote {
  font-size: 1em;
  font-family: var(--brand-fontStack-sansSerif);
  margin-top: calc(var(--base-size-16) * -1); /* negate grid gap */
  display: block;
}

.Testimonial-quote:has(em) {
  color: var(--brand-color-text-subtle);
}

.Testimonial-quote em {
  color: var(--brand-color-text-default);
  font-style: normal;
}

.Testimonial--size-large .Testimonial-quote {
  font-weight: var(--base-text-weight-semibold);
  letter-spacing: var(--brand-text-letterSpacing-900);
  line-height: 1.2; /* requires custom line-height */
}

.Testimonial-from {
  font-family: var(--brand-fontStack-monospace);
}

.Testimonial--center .Testimonial-logo-image {
  margin-left: auto;
  margin-right: auto;
}
