.Label {
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  border-radius: var(--brand-borderRadius-full);
  display: inline-flex;
  color: inherit;
  position: relative;
  z-index: 1;
}

.Label:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: '';
  background-image: linear-gradient(var(--brand-color-canvas-default), var(--brand-color-canvas-default)),
    radial-gradient(
      circle at top left,
      var(--brand-Label-color-start, currentcolor),
      var(--brand-Label-color-end, currentcolor)
    );
  background-clip: content-box, border-box;
  background-origin: border-box;
  border: double 1px transparent;
  border-radius: 2em;
}

.Label--size-small {
  padding-left: var(--base-size-8);
  padding-right: var(--base-size-8);
  height: 24px;
}

.Label--size-medium {
  padding-left: var(--base-size-12);
  padding-right: var(--base-size-12);
  height: 28px;
}

.Label--size-large {
  padding-left: var(--base-size-16);
  padding-right: var(--base-size-16);
  height: 32px;
}

.Label--size-medium {
  padding: calc(var(--base-size-8) - 2px) var(--base-size-16);
}

.Label--size-large {
  padding: var(--base-size-8) var(--base-size-16);
}

.Label--color-default {
  color: var(--brand-color-text-default);
}

.Label--color-blue {
  color: var(--brand-Label-color-blue);
}

.Label--color-blue-purple {
  --brand-Label-color-start: var(--brand-Label-color-blue-purple-start);
  --brand-Label-color-end: var(--brand-Label-color-blue-purple-end);
  color: var(--brand-Label-color-blue-purple-start);
}

.Label--color-coral {
  color: var(--brand-Label-color-coral);
}

.Label--color-green {
  color: var(--brand-Label-color-green);
}

.Label--color-green-blue {
  --brand-Label-color-start: var(--brand-Label-color-green-blue-start);
  --brand-Label-color-end: var(--brand-Label-color-green-blue-end);
  color: var(--brand-Label-color-green-blue-start);
}

.Label--color-gray {
  color: var(--brand-Label-color-gray);
}

.Label--color-indigo {
  color: var(--brand-Label-color-indigo);
}

.Label--color-lemon {
  color: var(--brand-Label-color-lemon);
}

.Label--color-lime {
  color: var(--brand-Label-color-lime);
}

.Label--color-orange {
  color: var(--brand-Label-color-orange);
}

.Label--color-pink {
  color: var(--brand-Label-color-pink);
}

.Label--color-pink-blue {
  --brand-Label-color-start: var(--brand-Label-color-pink-blue-start);
  --brand-Label-color-end: var(--brand-Label-color-pink-blue-end);
  color: var(--brand-Label-color-pink-blue-start);
}

.Label--color-purple {
  color: var(--brand-Label-color-purple);
}

.Label--color-purple-red {
  --brand-Label-color-start: var(--brand-Label-color-purple-red-start);
  --brand-Label-color-end: var(--brand-Label-color-purple-red-end);
  color: var(--brand-Label-color-purple-red-start);
}

.Label--color-red {
  color: var(--brand-Label-color-red);
}

.Label--color-red-orange {
  --brand-Label-color-start: var(--brand-Label-color-red-orange-start);
  --brand-Label-color-end: var(--brand-Label-color-red-orange-end);
  color: var(--brand-Label-color-red-orange-start);
}

.Label--color-teal {
  color: var(--brand-Label-color-teal);
}

.Label--color-yellow {
  color: var(--brand-Label-color-yellow);
}

.Label__text {
  background: linear-gradient(
    -70deg,
    var(--brand-Label-color-start, currentcolor) 0%,
    var(--brand-Label-color-end, currentcolor) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.Label--size-small .Label__text {
  line-height: var(--brand-text-lineHeight-100);
}

.Label--size-medium .Label__text {
  line-height: var(--brand-text-lineHeight-200);
}

.Label--size-large .Label__text {
  line-height: var(--brand-text-lineHeight-300);
}

.Label__icon-visual {
  display: flex;
  align-self: center;
  height: var(--base-size-16);
  width: auto;
}

.Label__leading-visual {
  display: flex;
  margin-right: var(--base-size-8);
  fill: currentColor;
}

.Label--label {
  font-weight: var(--base-text-weight-semibold);
  color: inherit;
}
