/**
 * Custom overrides
 * Should be fixed in the respective components
 */

.FeaturePreview {
  --brand-Hero-regular-padding: var(--brand-Hero-narrow-padding);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

[data-color-mode='dark'] .FeaturePreview__trailingSection {
  --brand-color-canvas-subtle: var(--base-color-scale-gray-7);
}

.FeaturePreview__mainContentGrid {
  padding: 0;
}

.FeaturePreview__borderTop {
  border-top: var(--brand-borderWidth-thin) solid var(--brand-color-border-default);
}

.FeaturePreview__hero {
  background-color: var(--base-color-scale-black-0);
  z-index: 1;
}

@media screen and (min-width: 64rem) {
  .FeaturePreview__heroBg {
    background-color: var(--base-color-scale-black-0);
  }
}

.FeaturePreview__splitLayout {
  position: absolute;
  height: 100vh;
  top: 75px;
  width: 100%;
  padding: 0;
}
