/**
 * Custom overrides
 * Should be fixed in the respective components
 */

.FeaturePreview {
  --brand-Hero-regular-padding: var(--brand-Hero-narrow-padding);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

[data-color-mode='dark'] .FeaturePreview__trailingSection {
  --brand-color-canvas-subtle: var(--base-color-scale-gray-7);
}

.FeaturePreview__borderTop {
  border-top: var(--brand-borderWidth-thin) solid var(--brand-color-border-default);
}
