.subtleCards {
  --brand-Card-background-default: var(--brand-color-canvas-subtle);
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-60%) translateY(-10%) scale(0);
  }
  100% {
    transform: translateX(-60%) translateY(0) scale(1);
  }
}

.customHero::before,
.customHero::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 70%;
  z-index: -1;
  display: block;
  width: 1800px;
  height: 500px;
  transform: translateX(-60%);
  transform-origin: center 0;
  content: '';
  z-index: 0;
  transform: translateY(-10%) translateX(-60%) scale(0);
  animation: scaleAnimation 4s var(--brand-animation-easing-glide) forwards;
  animation-delay: 0.3s;
}

[data-color-mode='light'] .customHero::before {
  background: radial-gradient(40% 50% at 40% 27%, var(--base-color-scale-blue-2) 0, rgba(195, 186, 250, 0) 100%);

  opacity: 0.33;
}

[data-color-mode='light'] .customHero::after {
  background: radial-gradient(40% 50% at 40% 27%, var(--base-color-scale-purple-2) 0, rgba(195, 186, 250, 0) 100%);
  opacity: 0.5;
}

[data-color-mode='dark'] .customHero::before {
  background: radial-gradient(40% 50% at 40% 27%, var(--base-color-scale-blue-8) 0, rgba(195, 186, 250, 0) 100%);

  opacity: 0.33;
}

[data-color-mode='dark'] .customHero::after {
  background: radial-gradient(40% 50% at 40% 27%, var(--base-color-scale-purple-8) 0, rgba(195, 186, 250, 0) 100%);
  opacity: 0.7;
}

.relative {
  position: relative;
  z-index: 1;
}

.ctaBanner {
  --brand-CTABanner-bgColor: var(--brand-color-canvas-subtle);
}
