:root {
  --mktg-accent-primary: #9867f0;
  --mktg-accent-secondary: #ed4e50;
}

.CustomLabel {
  position: relative;
  padding: 0.25rem 1rem;
  display: inline-block;
  width: fit-content;
  margin: 0 0 1rem;
  background: -webkit-linear-gradient(-70deg, var(--mktg-accent-primary) 0%, var(--mktg-accent-secondary) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  box-decoration-break: clone;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.CustomLabel::before {
  position: absolute;
  top: 0;
  left: -1px;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: '';
  background-image: linear-gradient(var(--brand-color-canvas-default), var(--brand-color-canvas-default)),
    radial-gradient(circle at top left, var(--mktg-accent-primary), var(--mktg-accent-secondary));
  background-clip: content-box, border-box;
  background-origin: border-box;
  border: double 1px transparent;
  border-radius: 2em;
}

.CustomLabelText {
  font-weight: bold;
}

.CustomChecklist {
  margin-top: 1rem;
}

.CustomChecklistIcon {
  color: var(--base-color-scale-pink-6);
}

.CustomChecklistIcon svg {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
  margin-right: 0.5rem;
}
