.river {
  display: grid;
  gap: var(--brand-River-gap-column);
  grid-template-rows: 1fr;
  margin: var(--brand-River-layout-margin-vertical);
}

.visual {
  position: relative;
  order: 2;
}

.content {
  order: 1;
}

.river--align-center {
  text-align: center;
}

.visual img,
.visual video {
  width: 100%;
  height: auto;
}

.visual--has-shadow {
  box-shadow: var(--brand-River-visual-shadow);
}

.heading {
  margin-bottom: var(--brand-River-gap-heading-bottom);
}

.call-to-action {
  margin-top: var(--base-size-24);
}

.text strong {
  color: var(--brand-color-text-default);
}

/* Small breakpoint and up */
@media screen and (min-width: 544px) {
  .river {
    grid-template-rows: unset;
  }
  .river--50-50 {
    grid-template-columns: [content] 1fr [visual] 1fr;
  }

  .river--60-40 {
    grid-template-columns: [content] calc(40% - var(--base-size-12)) [visual] calc(60% - var(--base-size-12));
  }

  .river--align-left {
    grid-template-areas: 'content visual';
  }

  .river--align-right {
    grid-template-areas: 'visual content';
  }

  .river--align-right.river--60-40 {
    grid-template-columns: [visual] calc(60% - var(--base-size-12)) [content] calc(40% - var(--base-size-12));
  }

  .content {
    display: grid;
    align-content: center;
    grid-area: content;
  }

  .visual {
    grid-area: visual;
  }

  .river--align-center {
    grid-template-rows: 1fr;
    grid-template-columns: unset;
  }

  .river--align-center .content,
  .river--align-center .visual {
    grid-area: unset;
    justify-self: center;
  }

  .river--align-center .bodyText {
    max-width: 600px;
    justify-self: center;
  }

  .river--align-center .visual {
    order: 2;
    margin-bottom: var(--base-size-48);
  }
  .river--align-center .content {
    order: 1;
    margin-top: var(--base-size-48);
  }
}
