.color-mode-all {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
}

.color-mode-all > [data-color-mode] {
  background-color: var(--brand-color-canvas-default);
}

body {
  background-color: var(--brand-color-canvas-default);
}
