.FAQ {
  max-width: var(--brand-FAQ-maxWidth);
  margin: 0 auto;
}

.FAQ__heading {
  color: var(--brand-FAQ-heading-color);
}

.FAQ__subheading {
  margin-top: var(--base-size-64);
  margin-bottom: var(--base-size-16);
}

.FAQ__heading--left {
  text-align: left;
}

.FAQ__heading--center {
  text-align: center;
  max-width: var(--brand-FAQ-heading-centered-maxWidth);
  margin-left: auto;
  margin-right: auto;
}

.FAQ__heading--large {
  padding-bottom: var(--base-size-4);
}

/* Large breakpoint and up */
@media screen and (min-width: 63.25rem) {
  .FAQ__subheading {
    margin-top: var(--base-size-96);
  }

  .FAQ__heading--with-margin {
    margin-bottom: var(--base-size-64);
  }
}
