.IDE {
}

.IDE__inner {
  background: var(--brand-IDE-default-bgColor);
  border: 1px solid var(--brand-IDE-borderColor);
}

.IDE--glass {
  backdrop-filter: blur(5px);
}

.IDE--glass .IDE__inner {
  background: var(--brand-IDE-glass-bgColor);
  border-color: transparent !important;
  opacity: 0.95;
}

.IDE__main {
  display: flex;
  height: calc(var(--brand-IDE-height) - 32px);
  width: 100%;
}

.IDE--glass .IDE__main {
  height: var(--brand-IDE-height);
}

.IDE--default .IDE__main {
  padding-top: var(--base-size-32);
}

.IDE__inner {
  position: relative;
  width: 100%;
  height: var(--brand-IDE-height);
  margin: 10px auto;
  border-radius: var(--brand-borderRadius-large);
  overflow: hidden;
}

/* 
.IDE__dot {
  display: block;
  width: var(--base-size-12);
  height: var(--base-size-12);
  border-radius: 50%;
}

.IDE__dot--red {
  background: #ff6057;
  border: 1px solid #e14640;
}

.IDE__dot--amber {
  background: #ffbd2e;
  border: 1px solid #dfa123;
}

.IDE__dot--green {
  background: #27c93f;
  border: 1px solid #1dad2b;
} */

/**
* Activity bar
*/

.IDE__ActivityBar {
  grid-area: activityBar;
  display: flex;
  width: 48px;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-right: var(--brand-borderWidth-thin) solid var(--brand-color-border-muted);
}

.IDE__ActivityBar button {
  all: unset;
  padding: var(--base-size-12);
  color: #808080;
  opacity: 0.2;
}

.IDE__ActivityBar button.active,
.IDE__ActivityBar button:hover {
  position: relative;
  opacity: 1;
  color: var(--brand-color-text-default);
}

.IDE__ActivityBar button.active::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: var(--brand-color-text-default);
}

/**
* Chat
*/
.IDE__Chat {
  display: grid;
  grid-area: pane;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: var(--base-size-16);
  gap: var(--base-size-16);
  color: var(--brand-color-text-default);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.IDE--glass .IDE__Chat {
  background: var(--brand-IDE-default-editor-bgColor);
}

.IDE--full-exp .IDE__Chat {
  min-width: 300px;
  max-width: 450px;
}

@media screen and (max-width: 63.24rem) {
  .IDE--full-exp .IDE__Chat {
    display: none;
  }
}

/* .IDE__Chat-title {
  font-family: var(--brand-fontStack-monospace);
  font-weight: 400;
  color: var(--brand-color-text-muted);
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--base-size-8) var(--base-size-20);
  font-size: 11px;
  line-height: 11px;
  background-color: #191b36;
} */

.IDE__Chat-message-user {
  display: inline-flex;
  gap: var(--base-size-8);
  align-items: center;
}

.IDE__Chat-messages {
  overflow-y: scroll;
  height: 90%;
}

.IDE__Chat-messages {
  scrollbar-width: thin;
  scrollbar-color: #666671 var(--brand-IDE-default-editor-bgColor);
}

.IDE__Chat-messages::-webkit-scrollbar {
  width: 12px;
}

.IDE__Chat-messages::-webkit-scrollbar-track {
  background: var(--brand-IDE-default-editor-bgColor);
}

.IDE__Chat-messages::-webkit-scrollbar-thumb {
  background-color: #666671;
  border-radius: 20px;
  border: 3px solid var(--brand-IDE-default-editor-bgColor);
}

.IDE__Chat-input-area {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 var(--base-size-20);
}

.IDE__Chat-input {
  background: var(--brand-IDE-default-bgColor) !important;
  color: var(--brand-color-text-muted) !important;
  -webkit-text-fill-color: var(--brand-color-text-muted) !important;
  border-color: var(--brand-color-border-default);
}

.IDE__Chat-message-content {
  margin-top: var(--base-size-16);
}

.IDE__Chat-message-snippet {
  overflow-x: hidden;
}

.IDE__Chat-message {
  font-family: var(--brand-fontStack-sansSerif);
  font-size: 16px;
  border-bottom: var(--brand-borderWidth-thin) solid var(--brand-color-border-muted);
  padding: var(--base-size-20);

  opacity: 0;
  transform: translateY(var(--brand-animation-variant-slideInDown-distance));
  transition: opacity var(--brand-animation-duration-default) var(--brand-animation-easing-default),
    transform var(--brand-animation-duration-default) var(--brand-animation-easing-default);
}

.IDE__Chat-message--visible {
  opacity: 1;
  transform: translateY(0);
}

.IDE__Chat-message--faded {
  opacity: 0.5;
}

.IDE__Chat-message pre {
  border: var(--brand-borderWidth-thick) solid var(--brand-color-border-default);
  padding: var(--base-size-16);
  border-radius: var(--brand-borderRadius-large);
  font-family: var(--brand-fontStack-monospace);
  font-size: 14px;
}

/**
* Editor
*/

.IDE__Editor {
  grid-area: editor;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.IDE--default .IDE__Editor {
  margin-left: var(--base-size-20);
}

.IDE__Editor-tabs {
  display: inline-flex;
  background: var(--brand-IDE-default-editor-tabs-bgColor);
}

.IDE--default .IDE__Editor-tabs {
  background: var(--brand-IDE-default-editor-tabs-bgColor);
}

.IDE--glass .IDE__Editor-tabs {
  background: var(--brand-IDE-glass-editor-tabs-bgColor);
}

.IDE__Editor-tab {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 4px;
  font-family: var(--brand-fontStack-monospace);
  font-size: 14px;
  color: var(--brand-color-text-muted);
  cursor: pointer;
  border: none;
}

.IDE--default .IDE__Editor-tab {
  background: var(--brand-IDE-default-editor-tab-bgColor-rest);
}

.IDE--glass .IDE__Editor-tab {
  background: var(--brand-IDE-glass-editor-tab-bgColor-rest);
}

.IDE__Editor-tab.active {
  color: var(--brand-color-text-default);
}

.IDE--default .IDE__Editor-tab.active {
  background: var(--brand-IDE-default-editor-tab-bgColor-active);
}

.IDE--glass .IDE__Editor-tab.active {
  background: var(--brand-IDE-glass-editor-tab-bgColor-active);
}

.IDE__Editor-tab:hover {
  color: var(--brand-color-text-default);
}

.IDE__Editor-tab-close-icon {
  width: 12px;
  height: 12px;
  margin-inline-start: var(--base-size-4);
  fill: var(--brand-color-text-muted);
}

.IDE__Editor-tab:hover .IDE__Editor-tab-close-icon {
  fill: var(--brand-color-text-default);
}

.IDE__Editor-content {
  height: 100%;
  padding-top: var(--base-size-16);
}

.IDE--default .IDE__Editor-content {
  background: var(--brand-IDE-default-editor-bgColor);
}

.IDE--glass .IDE__Editor-content {
  background: var(--brand-IDE-glass-editor-bgColor);
  border-bottom-left-radius: var(--brand-borderRadius-large);
}

.IDE__Editor-pane {
  margin: 0;
}

.IDE__Editor-pane--suggested {
  background-color: var(--brand-IDE-autoSuggestLine-bgColor);
}

.IDE__Editor-lineNumbers {
  position: absolute;
  z-index: 1;
  font-family: var(--brand-fontStack-monospace);
  font-weight: var(--brand-text-weight-200);
  font-feature-settings: 'liga' 0, 'calt' 0;
  font-variation-settings: normal;
  letter-spacing: 0px;
  width: 45px;
}

.IDE__Editor--small .IDE__Editor-lineNumbers {
  font-size: 12px;
  line-height: 18px;
}

.IDE__Editor--medium .IDE__Editor-lineNumbers {
  font-size: 14px;
  line-height: 20px;
}

.IDE__Editor--large .IDE__Editor-lineNumbers {
  font-size: 18px;
  line-height: 24px;
}

.IDE__Editor-lineNumber {
  position: relative;
  display: block;
  padding: 0 8px;
  text-align: right;
  color: var(--brand-color-text-subtle);
  user-select: none;
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.IDE__Editor-lineNumber-text {
  font-variant-numeric: tabular-nums;
  position: absolute;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: default;
  height: 100%;
}

.IDE__Editor pre {
  color: var(--brand-color-text-default);
  font-family: var(--brand-fontStack-monospace);
  padding-left: var(--base-size-64);
}

pre.IDE__Chat-copilot-indicator {
  background-color: var(--brand-IDE-autoSuggest-bgColor);
  padding-left: 0;
  position: absolute;
  display: inline-flex;
  padding: var(--base-size-8) var(--base-size-24);
  border-radius: var(--brand-borderRadius-small);
  gap: 16px;
  margin-left: 62px;
  margin: 0;
  margin-left: 60px;
  margin-top: 4px;

  box-shadow: -9px 10px 39px 0px rgba(0, 0, 0, 0.25);
}

.IDE__Chat-copilot-indicator-label {
  color: var(--brand-IDE-autoSuggest-fgColor);
  fill: var(--brand-IDE-autoSuggest-fgColor);
}

.IDE__Editor--small {
  line-height: 18px;
  font-size: 11px;
}

.IDE__Editor--medium {
  font-size: 14px;
  line-height: 19.9px;
}

.IDE__Editor--large {
  font-size: 18px;
  line-height: 23.9px;
}

.IDE__Editor-replay {
  margin-block-start: var(--base-size-24);
  margin-block-end: var(--base-size-16);
  align-self: center;
  position: relative;
  z-index: 1;
}
