[data-color-mode] > [data-color-mode] {
  margin-left: 1rem;
}

.active-color-scheme {
  padding: 2rem;
  background-color: var(--brand-color-canvas-default);
  color: var(--brand-color-fg-default);
  border-radius: 5px;
  border: 1px solid var(--brand-color-border-default);
}

.hint {
  color: var(--brand-color-fg-muted);
}
