[data-color-mode] > [data-color-mode] {
  margin-left: 1rem;
}

.active-color-scheme {
  padding: 2rem;
  background-color: var(--brand-color-canvas-primary);
  color: var(--brand-color-text-primary);
  border-radius: 5px;
  border: 1px solid var(--brand-color-border-primary);
}

.hint {
  color: var(--brand-color-text-secondary);
}
