.StackedSectionIntro {
  --brand-Grid-spacing-row: var(--base-size-48);
  display: flex;
  flex-direction: column;
  gap: var(--base-size-16);
  align-items: flex-start;
}

.StackedSectionIntro-heading--muted,
.StackedSectionIntroItem__item-text--muted {
  color: var(--brand-color-text-muted);
}

.StackedSectionIntro-heading--muted em,
.StackedSectionIntro-heading--muted b,
.StackedSectionIntroItem__item-text em,
.StackedSectionIntroItem__item-text b {
  color: var(--brand-color-text-default);
  font-style: normal;
  font-weight: var(--base-text-weight-semibold);
}

.StackedSectionIntro--full-width .StackedSectionIntro-heading {
  max-width: none;
}

.StackedSectionIntro-link {
  margin-top: var(--base-size-16);
}

.StackedSectionIntro-items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--base-size-32);
}

@media screen and (max-width: 63.25rem) {
  .StackedSectionIntro-heading {
    font-size: var(--brand-text-size-600);
  }
}

@media screen and (min-width: 48rem) {
  .StackedSectionIntro-item {
    gap: var(--base-size-40);
  }

  .StackedSectionIntro-items {
    /* Optical alignment with adjacent content */
    position: relative;
    top: var(--base-size-2);
  }
}
