.articlePageBody {
  position: relative;
  z-index: 91;
}

.socialLinks {
  list-style: none;
  display: inline-flex;
  align-items: center;
  gap: var(--base-size-16);
  margin: 0;
  padding: 0;
}

.heroImageArea {
  overflow: hidden;
}

.heroImage {
  display: block;
  width: 100%;
}

.standfirst {
  max-width: var(--brand-Prose-lineLength);
  line-height: 1.3;
}

.standfirst::first-letter {
  font-size: var(--base-size-64);
  line-height: 1;
  padding: var(--base-size-4) var(--base-size-12);
  border: var(--base-size-4) solid var(--brand-color-accent-primary);
  margin-inline-end: var(--base-size-12);
  float: left;
  color: var(--brand-color-accent-primary);
}

.asideHeading {
  color: var(--brand-color-text-muted);
}

@media screen and (max-width: 63.25rem) {
  .aside {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
  }

  .asideContent {
    display: flex;
    opacity: 0;
    visibility: hidden;
    background-color: var(--brand-color-canvas-default);
    padding: var(--base-size-16);
    width: 100%;
    box-shadow: 0px 8px 24px 0px rgba(140, 149, 159, 0.2);
    justify-content: center;
    transition: visibility var(--brand-animation-duration-default) var(--brand-animation-easing-default),
      opacity var(--brand-animation-duration-default) var(--brand-animation-easing-default),
      transform var(--brand-animation-duration-default) var(--brand-animation-easing-default);
    transform: translateY(-100%);
  }

  .asideContent--visible {
    opacity: 1;
    visibility: visible;
    transform: none;
  }

  .asideContent--open {
    height: auto;
    display: flex;
    justify-content: center;
  }

  .asideContent--open::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(81, 81, 81, 0.4);
    backdrop-filter: blur(var(--base-size-4));
    -webkit-backdrop-filter: blur(var(--base-size-4));
  }

  .asideHeading {
    height: 45px;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 64rem) {
  .aside {
    position: sticky;
    top: 0;
    margin-block-start: -64px;
    padding-block-start: var(--base-size-64);
  }
}

.asideHeading {
  font-size: var(--brand-text-size-100);
  text-transform: uppercase;
}

.tableOfContentsList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--base-size-16);
}

.tableOfContentsList a {
  color: var(--brand-color-text-muted);
  text-decoration: none;
}

.tableOfContentsMenuToggle {
  display: none;
}

.tableOfContentsMenuToggle:hover {
  background-color: var(--brand-color-neutral-subtle);
}

@media screen and (max-width: 63.25rem) {
  .tableOfContentsMenuToggle {
    display: block;
    background-color: var(--brand-color-canvas-subtle);
    border-radius: var(--brand-borderRadius-full);
    padding: var(--base-size-4);
    width: var(--base-size-32);
    border: none;
    cursor: pointer;
  }
  .tableOfContentsNav,
  .tableOfContentsFeaturesBox {
    display: none;
  }
  .tableOfContentsNav--visible {
    display: block;
  }
}
