.Captions {
  width: 90%;
  margin: 0 auto 15px auto;
  display: grid;
  justify-content: center;
}

.Captions__empty {
  display: none;
}

.Captions__text {
  color: white;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 6px;
  display: inline-block;
}
