.CTABanner {
  position: relative;
  margin: 0 auto;
  display: flex;
  max-width: var(--brand-breakpoint-xlarge);
  width: 100%;
}

.CTABanner--shadow::before {
  content: '';
  position: absolute;
  inset: var(--base-size-16);
  filter: blur(var(--base-size-96));
  transform: translateZ(0);
  background: linear-gradient(
    to right,
    var(--brand-CTABanner-shadow-color-start),
    var(--brand-CTABanner-shadow-color-end)
  );
}

.CTABanner-container {
  border-radius: var(--brand-borderRadius-xlarge);
  padding: var(--base-size-40) var(--base-size-32);
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
}

.CTABanner-content {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-16);
  align-items: flex-start;
  max-width: 800px;
  margin: 0 auto;
}

.CTABanner-container--background {
  border-radius: var(--brand-borderRadius-xlarge);
  background-repeat: no-repeat;
  background-color: var(--brand-CTABanner-narrow-background-color, var(--brand-CTABanner-background-color));
  background-image: var(--brand-CTABanner-narrow-background-image-src, var(--brand-CTABanner-background-image-src));
  background-size: var(--brand-CTABanner-narrow-background-image-size, var(--brand-CTABanner-background-image-size));

  background-position: var(
    --brand-CTABanner-narrow-background-image-position,
    var(--brand-CTABanner-background-image-position, center)
  );
}

.CTABanner-container--border {
  border: var(--brand-borderWidth-thin) solid var(--brand-color-border-default);
}

.CTABanner-content--center {
  align-items: center;
  text-align: center;
}

.CTABanner-description {
  margin-bottom: var(--base-size-16);
}

/* Medium breakpoint and up */
@media screen and (min-width: 48rem) {
  .CTABanner-container {
    padding: var(--base-size-80) var(--base-size-64);
  }
}

/* Large breakpoint and up */
@media screen and (min-width: 63.25rem) {
  .CTABanner-content {
    gap: var(--base-size-24);
  }
  .CTABanner-container {
    padding: var(--base-size-128) var(--base-size-64);
  }
}

/* Regular */
@media screen and (min-width: 48rem) {
  .CTABanner-container--background {
    background-color: var(--brand-CTABanner-regular-background-color, var(--brand-CTABanner-background-color));
    background-image: var(--brand-CTABanner-regular-background-image-src, var(--brand-CTABanner-background-image-src));
    background-size: var(--brand-CTABanner-regular-background-image-size, var(--brand-CTABanner-background-image-size));
    background-position: var(
      --brand-CTABanner-regular-background-image-position,
      var(--brand-CTABanner-background-image-position)
    );
  }
}

/* Wide */
@media screen and (min-width: 80rem) {
  .CTABanner-container--background {
    background-color: var(--brand-CTABanner-wide-background-color, var(--brand-CTABanner-background-color));
    background-image: var(--brand-CTABanner-wide-background-image-src, var(--brand-CTABanner-background-image-src));
    background-size: var(--brand-CTABanner-wide-background-image-size, var(--brand-CTABanner-background-image-size));

    background-position: var(
      --brand-CTABanner-wide-background-image-position,
      var(--brand-CTABanner-background-image-position)
    );
  }
}
