.SidePanel {
  position: relative;
}

.Header {
  padding: var(--base-size-16);
  border-bottom: var(--brand-borderWidth-thin) solid var(--brand-color-border-muted);
  display: flex;
  justify-content: end;
}
