.SectionIntro {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-16);
  align-items: flex-start;
  padding-block: var(--base-size-24);
}

.SectionIntro-heading--muted {
  color: var(--brand-SectionIntro-color-text-muted);
}

.SectionIntro-heading--muted em {
  font-style: normal;
  color: var(--brand-color-text-emphasis);
}

.SectionIntro--align-start {
  text-align: start;
}

.SectionIntro--align-center {
  align-items: center;
  text-align: center;
  padding-inline: var(--base-size-24);
}

.SectionIntro-heading {
  max-width: 18ch;
}

.SectionIntro--full-width .SectionIntro-heading {
  max-width: none;
}

.SectionIntro-label {
  margin-block-end: var(--base-size-8);
}

.SectionIntro-description {
  max-width: 50ch;
}

.SectionIntro-link {
  margin-top: var(--base-size-16);
}
