/* TODO: Extract these global styles */
:global body {
  font-family: system-ui; /* TODO: Use Alliance No. 1 or Mona Sans */
  line-height: 1.5;
}

/* TODO: Replace hard-coded values with design tokens */

.Hero {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  background-color: var(--gh-color-canvas-default);
}

.Hero--align-start {
  align-items: start;
  text-align: left;
}

.Hero--align-center {
  align-items: center;
  text-align: center;
}

.Hero-heading {
  margin: 0;
  font-weight: 700;
  line-height: 1.1;
  max-width: 18ch;
  color: var(--gh-color-fg-default);
}

.Hero--size-small .Hero-heading {
  font-size: 2.5rem;
}

.Hero--size-large .Hero-heading {
  font-size: 3rem;
}

.Hero-description {
  margin: 1.5rem 0 0;
  font-size: 1rem;
  max-width: 50ch;
  color: var(--gh-color-fg-muted);
}

.Hero-actions {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.Hero-actions > :not(:last-child) {
  margin: 0 0 1rem;
}

/* Small breakpoint and up */
@media screen and (min-width: 544px) {
  .Hero {
    padding: 10.75rem 0;
  }

  .Hero--size-small .Hero-heading {
    font-size: 3.5rem;
  }

  .Hero--size-large .Hero-heading {
    font-size: 4.5rem;
  }

  .Hero-description {
    font-size: 1.25rem;
  }

  .Hero-actions {
    flex-direction: row;
    width: auto;
  }

  .Hero-actions > :not(:last-child) {
    margin: 0 1rem 0 0;
  }
}

/* Medium breakpoint and up */
@media screen and (min-width: 768px) {
  .Hero--size-small .Hero-heading {
    font-size: 4.5rem;
  }

  .Hero--size-large .Hero-heading {
    font-size: 6rem;
  }

  .Hero--size-large .Hero-description {
    font-size: 1.5rem;
  }
}
