/* TODO: Move this */
:global body {
  font-family: system-ui;
  line-height: 1.5;
}

.container {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
}

.start {
  align-items: start;
  text-align: left;
}

.center {
  align-items: center;
  text-align: center;
}

.heading {
  margin: 0;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.1;
  max-width: 20ch;
}

.description {
  margin: 1.5rem 0 0;
  font-size: 1.25rem;
  max-width: 50ch;
}
