.Hero {
  padding: var(--base-size-96) 0;
  display: flex;
  flex-direction: column;
}

.Hero--align-start {
  align-items: start;
  text-align: left;
}

.Hero--align-center {
  align-items: center;
  text-align: center;
}

.Hero-heading {
  margin: 0;
  max-width: 18ch;
}

.Hero-description {
  margin: 1.5rem 0 0;
  max-width: 50ch;
}

.Hero-actions {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.Hero-actions > :not(:last-child) {
  margin: 0 0 1rem;
}

/* Small breakpoint and up */
@media screen and (min-width: 544px) {
  .Hero {
    padding: var(--base-size-128) 0;
  }

  .Hero-actions {
    flex-direction: row;
    width: auto;
  }

  .Hero-actions > :not(:last-child) {
    margin: 0 1rem 0 0;
  }
}
