/* TODO: Extract these global styles */
:global body {
  font-family: system-ui; /* TODO: Use Alliance No. 1 or Mona Sans */
  line-height: 1.5;
}

/* TODO: Replace hard-coded values with design tokens */

.container {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
}

.start {
  align-items: start;
  text-align: left;
}

.center {
  align-items: center;
  text-align: center;
}

.heading {
  margin: 0;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.1;
  max-width: 20ch;
}

.description {
  margin: 1.5rem 0 0;
  font-size: 1.25rem;
  max-width: 50ch;
}
