.Bento {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  /* grid-auto-rows: minmax(var(--base-size-40), auto); */
  grid-auto-rows: minmax(20px, auto);
  grid-gap: var(--brand-Bento-gap-small);
  position: relative;
}

.Bento__Item {
  background-color: var(--brand-Bento-background);
  border-radius: var(--brand-Bento-Item-borderRadius-small);
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  overflow: hidden;
  border: 1px solid var(--brand-color-border-default);
}

@media screen and (min-width: 80rem) {
  .Bento {
    gap: var(--brand-Bento-gap-large);
  }
  .Bento__Item {
    border-radius: var(--brand-Bento-Item-borderRadius-large);
  }
}

@media screen and (min-width: 48rem) {
  .Bento {
    gap: var(--brand-Bento-gap-medium);
  }
  .Bento__Item {
    border-radius: var(--brand-Bento-Item-borderRadius-medium);
  }
}

/* Column Span */
.Bento__Item--column-span-1 {
  grid-column: auto/span 1;
}

.Bento__Item--column-span-2 {
  grid-column: auto/span 2;
}

.Bento__Item--column-span-3 {
  grid-column: auto/span 3;
}

.Bento__Item--column-span-4 {
  grid-column: auto/span 4;
}

.Bento__Item--column-span-5 {
  grid-column: auto/span 5;
}

.Bento__Item--column-span-6 {
  grid-column: auto/span 6;
}

.Bento__Item--column-span-7 {
  grid-column: auto/span 7;
}

.Bento__Item--column-span-8 {
  grid-column: auto/span 8;
}

.Bento__Item--column-span-9 {
  grid-column: auto/span 9;
}

.Bento__Item--column-span-10 {
  grid-column: auto/span 10;
}

.Bento__Item--column-span-11 {
  grid-column: auto/span 11;
}

.Bento__Item--column-span-12 {
  grid-column: auto/span 12;
}

/* Row Span */
.Bento__Item--row-span-1 {
  grid-row: auto/span 1;
}

.Bento__Item--row-span-2 {
  grid-row: auto/span 2;
}

.Bento__Item--row-span-3 {
  grid-row: auto/span 3;
}

.Bento__Item--row-span-4 {
  grid-row: auto/span 4;
}

.Bento__Item--row-span-5 {
  grid-row: auto/span 5;
}

.Bento__Item--row-span-6 {
  grid-row: auto/span 6;
}

.Bento__Item--row-span-7 {
  grid-row: auto/span 7;
}

.Bento__Item--row-span-8 {
  grid-row: auto/span 8;
}

.Bento__Item--row-span-9 {
  grid-row: auto/span 9;
}

.Bento__Item--row-span-10 {
  grid-row: auto/span 10;
}

.Bento__Item--row-span-11 {
  grid-row: auto/span 11;
}

.Bento__Item--row-span-12 {
  grid-row: auto/span 12;
}

/* Column Start */
.Bento__Item--column-start-1 {
  grid-column-start: 1;
}

.Bento__Item--column-start-2 {
  grid-column-start: 2;
}

.Bento__Item--column-start-3 {
  grid-column-start: 3;
}

.Bento__Item--column-start-4 {
  grid-column-start: 4;
}

.Bento__Item--column-start-5 {
  grid-column-start: 5;
}

.Bento__Item--column-start-6 {
  grid-column-start: 6;
}

.Bento__Item--column-start-7 {
  grid-column-start: 7;
}

.Bento__Item--column-start-8 {
  grid-column-start: 8;
}

.Bento__Item--column-start-9 {
  grid-column-start: 9;
}

.Bento__Item--column-start-10 {
  grid-column-start: 10;
}

.Bento__Item--column-start-11 {
  grid-column-start: 11;
}

.Bento__Item--column-start-12 {
  grid-column-start: 12;
}

/* Row Start */
.Bento__Item--row-start-1 {
  grid-row-start: 1;
}

.Bento__Item--row-start-2 {
  grid-row-start: 2;
}

.Bento__Item--row-start-3 {
  grid-row-start: 3;
}

.Bento__Item--row-start-4 {
  grid-row-start: 4;
}

.Bento__Item--row-start-5 {
  grid-row-start: 5;
}

.Bento__Item--row-start-6 {
  grid-row-start: 6;
}

.Bento__Item--row-start-7 {
  grid-row-start: 7;
}

.Bento__Item--row-start-8 {
  grid-row-start: 8;
}

.Bento__Item--row-start-9 {
  grid-row-start: 9;
}

.Bento__Item--row-start-10 {
  grid-row-start: 10;
}

.Bento__Item--row-start-11 {
  grid-row-start: 11;
}

.Bento__Item--row-start-12 {
  grid-row-start: 12;
}

/* Bento Item Vertical Align */
.Bento__Item-verticalAlign--start {
  align-items: start;
}

.Bento__Item-verticalAlign--center {
  align-items: center;
}

.Bento__Item-verticalAlign--end {
  align-items: end;
}

/* Bento Item Horizontal Align */
.Bento__Item-horizontalAlign--top {
  justify-content: start;
}

.Bento__Item-horizontalAlign--center {
  justify-content: center;
}

.Bento__Item-horizontalAlign--end {
  justify-content: end;
}

/* Bento Content */
.Bento__Item--visual-as-background .Bento__Content {
  order: 1;
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}

.Bento__Content {
  display: grid;
  height: 100%;
  align-content: space-between; /* Needs to be space-around to handle without img */
}

/* Bento Visual */

.Bento__Visual {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.Bento__Item--visual-as-background .Bento__Visual {
  order: -1;
  grid-row: 1 /-1;
  grid-column: 1 /-1;
}

.Bento__Visual > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Bento__Visual-no-fill > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 0px;
}

/* Bento Padding */
/* TODO: Swap values for bento padding */
.Bento-padding--condensed {
  padding: var(--brand-box-spacing-condensed);
}
.Bento-padding--normal {
  padding: var(--brand-box-spacing-normal);
}
.Bento-padding--spacious {
  padding: var(--brand-box-spacing-spacious);
}

.Bento-padding--condensed > img {
  border-radius: var(--brand-Bento-Item-borderRadius-small);
}
.Bento-padding--normal > img {
  border-radius: var(--brand-Bento-Item-borderRadius-small);
}
.Bento-padding--spacious > img {
  border-radius: var(--brand-Bento-Item-borderRadius-small);
}

@media screen and (min-width: 80rem) {
  .Bento-padding--condensed > img {
    border-radius: var(--brand-Bento-Item-borderRadius-large);
  }
  .Bento-padding--normal > img {
    border-radius: var(--brand-Bento-Item-borderRadius-large);
  }
  .Bento-padding--spacious > img {
    border-radius: var(--brand-Bento-Item-borderRadius-large);
  }
}

@media screen and (min-width: 48rem) {
  .Bento-padding--condensed > img {
    border-radius: var(--brand-Bento-Item-borderRadius-medium);
  }
  .Bento-padding--normal > img {
    border-radius: var(--brand-Bento-Item-borderRadius-medium);
  }
  .Bento-padding--spacious > img {
    border-radius: var(--brand-Bento-Item-borderRadius-medium);
  }
}

/* Bento Flow */
.Bento__Item-flow--column {
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.Bento__Item-flow--row {
  grid-auto-flow: row;
}

/* Bento Heading */
.Bento__heading {
  /* TBD */
}

/* Bento Text */
.Bento__text {
  /* TBD */
}

.Bento__body-text {
  /* TBD */
}

.Bento__call-to-action {
  align-self: end;
}
