.purple-background {
  background: linear-gradient(90deg, var(--base-color-scale-purple-5) 0%, var(--base-color-scale-purple-6) 100%);
}

.customStatNumber {
  font-size: var(--base-size-80);
  margin-bottom: var(--base-size-20);
}

@media screen and (min-width: 63.25rem) {
  .customStatNumber {
    font-size: var(--base-size-112);
  }
}

@media screen and (max-width: 48rem) {
  .Mixed1__codeWindow {
    object-position: 20% 80% !important;
  }
}

.Mixed2__item {
  grid-gap: var(--base-size-16);
}

.Mixed3 {
  background-color: #f9f8f6;
}

@media screen and (min-width: 63.25rem) {
  .Mixed3__customColumns {
    grid-template-columns: 0.9fr 1.1fr;
  }
}

.bentoImageBg {
  background-repeat: no-repeat;
  background-size: cover;
}

.Mixed3__image {
  opacity: 0.8;
  height: auto;
  width: 100%;
}

.CustomVisual__item {
  position: relative;
  overflow: hidden;
}

.CustomElement {
  --custom-border-width: 4px;

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-top: var(--brand-Bento-content-padding-spacious);

  color: white;
  border-radius: var(--brand-borderRadius-full);
  z-index: 0;
  box-shadow: 0px 0px 120px 48px rgb(87 0 189 / 49%), 0px 0px 100px 190px rgb(87 0 189 / 16%);

  &::before {
    position: absolute;
    content: '';
    top: calc(-1 * var(--custom-border-width) + 5px);
    left: calc(-1 * var(--custom-border-width) + 5px);
    z-index: -1;
    width: calc(100% + var(--custom-border-width) * 2 - 10px);
    height: calc(100% + var(--custom-border-width) * 2 - 10px);
    background: var(--brand-color-canvas-default);
    border-radius: var(--brand-borderRadius-full);
    z-index: 0;
  }

  &::after {
    position: absolute;
    content: '';
    top: calc(-1 * var(--custom-border-width));
    left: calc(-1 * var(--custom-border-width));
    z-index: -1;
    width: calc(100% + var(--custom-border-width) * 2);
    height: calc(100% + var(--custom-border-width) * 2);
    background: radial-gradient(circle at top left, #096bde, #0dff50, #8e47fe, #7c3ffe, #140fff);

    border-radius: var(--brand-borderRadius-full);
    animation: moveGradient 6s linear infinite;
    z-index: -1;
  }
}

.CustomElement--start {
  margin-inline-start: var(--brand-Bento-content-padding-spacious);
}

.CustomElement__icon {
  position: relative;
  z-index: 2;
  display: flex;
}

@keyframes moveGradient {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
  0.01% {
    transform: rotate(0deg);
  }
}
