.purple-background {
  background: linear-gradient(90deg, var(--base-color-scale-purple-5) 0%, var(--base-color-scale-purple-6) 100%);
}

.story-background-decorator {
  padding: 20px;
  background: var(--base-color-scale-gray-1);
}
