name: Deploy

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build_deploy:
    if: ${{ github.repository == 'primer/brand' }}
    name: Production
    # SHA for security hardening. Points at last verified HEAD of main branch.
    uses: primer/.github/.github/workflows/deploy.yml@0cec9b9914f358846163f2428663b58da41028c9
    with:
      node_version: 16
      install: npm ci --legacy-peer-deps && cd apps/docs && npm ci --legacy-peer-deps && cd ..
      build: npm run build && npm run build:docs && npm run build:storybook
      output_dir: apps/docs/public/
