name: Deploy

on:
  pull_request_target:

permissions:
  checks: write
  contents: read
  deployments: write
  pages: write
  id-token: write

jobs:
  deploy:
    if: ${{ github.repository != github.event.pull_request.head.repo.full_name }}
    name: Preview
    # SHA for security hardening. Points at 2.2.0 release
    uses: primer/.github/.github/workflows/deploy_preview.yml@91fde6cc969a502562fdacdac48e35859b3a40b4
    with:
      node_version: 22
      install: npm ci
      build: npm run build
      output_dir: apps/next-docs/out/
