name: Visual test

env:
  NODE_ENV: test

on:
  pull_request:
    types: [labeled]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  update-snapshots:
    if: ${{ github.event.label.name == 'update snapshots' }}
    name: Update snapshots
    runs-on:
      labels: ubuntu-latest-16-cores
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.head_ref }}

      - name: Regenerate specs and update snapshots
        run: cd packages/e2e && bash scripts/playwright/update-visual-snapshots

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: github-actions[bot] Regenerated snapshots
