name: Visual test

env:
  NODE_ENV: test

on:
  pull_request:
    types: [labeled]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  update-snapshots:
    if: ${{ github.event.label.name == 'update snapshots' }}
    name: Update snapshots
    runs-on:
      labels: ubuntu-latest-16-cores
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.head_ref }}

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: npm ci

      - name: Build assets
        run: npm run build:lib && cd apps/storybook && npx storybook build

      - name: Build storybook
        run: cd apps/storybook && npx storybook build

      - name: Install browsers
        run: npx playwright install chrome --with-deps

      - name: Regenerate spec files
        run: cd packages/e2e && npm run test:visual:generate

      - name: Update snapshots
        run: npx start-server-and-test 'npx http-server ./apps/storybook/storybook-static -p 6006' 6006 'cd packages/e2e && npx playwright test --update-snapshots'

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: github-actions[bot] Regenerated snapshots
