.FAQ {
  max-width: var(--brand-FAQ-maxWidth);
  margin: 0 auto;
}

.FAQ__heading {
  /*Visual appearance as a h3*/
  font-weight: var(--brand-heading-weight-700);
  font-size: var(--brand-text-size-700);
  line-height: var(--brand-heading-lineHeight-700);
  letter-spacing: var(--brand-heading-letterSpacing-700);

  color: var(--brand-FAQ-heading-color);
  margin-bottom: var(--base-size-64);
}

.FAQ__subheading {
  /*Visual appearance as a h4*/
  font-weight: var(--brand-heading-weight-600);
  font-size: var(--brand-text-size-600);
  line-height: var(--brand-text-lineHeight-600);
  letter-spacing: var(--brand-heading-letterSpacing-600);

  margin-bottom: var(--base-size-16);
}

.FAQ__heading--start {
  text-align: left;
}

.FAQ__heading--center {
  text-align: center;
  max-width: 18ch;
  margin-left: auto;
  margin-right: auto;
}

.FAQ__heading--large {
  /*Visual appearance as a h2*/
  font-weight: var(--brand-text-weight-800);
  font-size: var(--brand-text-size-800);
  line-height: var(--brand-text-lineHeight-800);
  letter-spacing: var(--brand-text-letterSpacing-800);
}

/* Large breakpoint and up */
@media screen and (min-width: 63.25rem) {
  .FAQ__heading {
    margin-bottom: var(--base-size-96);
  }
}
