.FAQGroup {
  display: none;
  justify-content: space-between;
  gap: var(--brand-stack-gap-spacious);
}

@media screen and (min-width: 48rem) {
  .FAQGroup {
    display: grid;
  }

  .FAQGroup__accordion {
    display: none;
  }
}

.FAQGroup__panel-subHeading {
  margin-block-start: calc(var(--base-size-8) + 1px);
}

.FAQGroup__tablist .FAQ__heading {
  display: none;
}

.FAQGroup__tablist-button {
  background-color: transparent;
  justify-content: flex-start;
}

.FAQGroup__tablist-button > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.FAQGroup__tablist-button[aria-selected='true'] {
  background-color: var(--brand-FAQ-color-tabBg-selected);
}

.FAQGroup__tablist-button span {
  color: var(--brand-color-text-muted);
}

.FAQGroup__tablist-button[aria-selected='true'] span {
  color: var(--brand-FAQ-color-tabLabel-selected);
}

.FAQGroup__nested-accordion-item summary h4 {
  font-weight: var(--brand-text-weight-200);
  font-size: var(--brand-text-size-200);
  line-height: var(--brand-text-lineHeight-200);
}

@media (forced-colors: active) {
  .FAQGroup__tablist-button[aria-selected='true'] {
    border-color: Highlight;
    border-width: var(--brand-borderWidth-thicker);
    color: HighlightText;
  }
}
